[2016-08-24 13:42] RicardoEmpre opened #1 "[Feature Request] decimal points for numeric"
Hey! great plugin! congrats!
It would be great to have an option for validating the decimal points for numeric data
eg: numeric:{decimals}
`<input type="text" data-rules="numeric">` // 123 valid, 12.34 invalid
`<input type="text" data-rules="numeric:3">` // 123 valid, 12.34 valid, 147.527 valid, 13.2368 invalid

[2016-08-24 14:20] logaretm commented on #1
@RicardoEmpre sounds good to me, I will probably add it later today.

[2016-08-24 16:26] logaretm commented on #1
@RicardoEmpre added as `decimal:{decimals}`

https://logaretm.github.io/vee-validate/rules.html#rule-decimal

[2016-08-24 16:26] #1 closed

[2016-08-25 01:45] gig3m opened #2 "Let vee-validate pass over values in an object that match no rule"
Any thoughts on letting the validator pass over values in an object that it has no rule for without returning false?

Because validateAll() calls validate() on each key in the object we get a return of [false](https://github.com/logaretm/vee-validate/blob/master/src/validator.js#L238) if the object has keys in it that don't have rules.  Use case would be a large form with only certain fields to be

[2016-08-25 09:19] logaretm commented on #2
@gig3m Why did you close the PRs?

I understand your point, but if the input didn't use the directive it won't be added to the list of fields, so you probably won't pass it to the `validateAll` method since you are passing them manually. or if you use `validateAll` without params, it will emit an event for all attached fields to validate themselves. so those optional fields won't be touched as lon

[2016-08-25 13:48] gig3m commented on #2
@logaretm It turns out the code passed tests but wasn't actually working correctly, as it would return true for a set of tests even if one of them failed.  I got a bit tired and just closed the PR and decided to reassess and attack it tomorrow (today).

I also realized I was pushing what was a really nice implementation via form input attributes into something it was potentially not supposed to be

[2016-08-25 15:01] gig3m commented on #2
@logaretm I've rewritten the strict mode implementation but I can't seem to figure out why validateAll() returns true even with errors.  The errorBag does contain the correct errors.  My fork is [here](https://github.com/gig3m/vee-validate).

[2016-08-25 15:16] logaretm commented on #2
@gig3m ok I will check it out.

[2016-08-25 16:42] logaretm commented on #2
@gig3m I think I messed up the [condition here](https://github.com/logaretm/vee-validate/blob/master/src/validator.js#L212) this will return true if the validator is bound to a vue instance, regardless if you passed values or not probably this is probably why it returns true even with errors. I've pushed a fix just now.

[2016-08-25 20:57] gig3m commented on #2
@logaretm I think it's actually a problem [here](https://github.com/logaretm/vee-validate/blob/master/src/validator.js#L259):
[code]
What I think is happening is that test is being set to the latest value on return instead of short circuiting if a wild false value appears.  .forEach has no way to short circuit so what might work is something like every instead:

[code]

Thoughts?

[2016-08-25 23:54] logaretm commented on #2
@gig3m Yes you are correct I intended to short circuit it but I guess I forgot. do you want to PR it?

[2016-08-26 00:16] gig3m commented on #2
@logaretm I'm working on it at the moment.  Test written but can't find the solution I'm looking for.  The one above short circuits and you don't get a full error bag.  I'm not this good!!!  I'll post something if/when I find it.

[2016-08-26 00:22] logaretm commented on #2
@gig3m can you try this:

[code]
If all passes it will return true, if at least one fails it will return false and it will not short circuit it, so you get the full errors list.

[2016-08-26 00:25] gig3m commented on #2
That's basically what I have written but I can't get it to pass.  I dropped yours in and same thing.  Test is [here](https://github.com/gig3m/vee-validate/blob/master/test/validator.js#L36).

[code]

[2016-08-26 01:09] gig3m commented on #2
Ok, more digging.

The validate function returns true every time if the last defined rule is met.  So...

[code]

[2016-08-26 01:20] logaretm commented on #2
@gig3m ye I remembered why I did this in the first place, its because I wanted to chain the last value because of the Promises which are async. I'm fixing it right now, but broke date tests in the process for some reason.

[2016-08-26 01:55] gig3m commented on #2
@logaretm Cool, I'll wait on that then build a strict_mode implementation on top of that.

[2016-08-26 02:16] logaretm commented on #2
@gig3m It's up now, I included the test you provided here and added one more for individual rules checking to make sure nothing is ignored/skipped.

Well it looks like "edge case" is actually critical :joy:

[2016-08-27 09:02] #2 closed

[2016-08-29 17:28] dionysiosarvanitis opened #8 "data-as alternative"
Instead of using `data-as` for the field names substitution it would be more handy if we could just use a dedicated `attributes` array inside dictionary. This is the Laravel's approach to this.

[code]

[2016-08-29 19:00] logaretm commented on #8
@dionysiosarvanitis I think I prefer what you suggested, I will work on it in the next couple of days. I would keep `data-as` though.

[2016-08-29 19:18] dionysiosarvanitis commented on #8
That would be great! You should definitely keep `data-as` as well.

[2016-08-31 02:19] logaretm commented on #8
Okay I just tagged a release (1.0.0-beta.0 and 2.0.0-beta.6) with this, I changed the structure to be more appropriate:

[code]

[2016-08-31 02:19] #8 closed

[2016-08-31 14:37] dionysiosarvanitis commented on #8
Better that way!

[2016-09-01 10:22] Phunky opened #9 "Unable to use v-binded values for data-*"
Due to the use of `this.el.dataset` instead of directive params it is not possible to use v-bind values for these attributes.

The below does not currently work;

`<input v-validate="value" v-model="value"
    :type='type' :name='name' :placeholder='placeholder'
    :modifiers='modifiers' :has="has" class="input"
    :data-rules="rules" :data-as="name">`

[2016-09-01 13:08] logaretm commented on #9
Well Vue 2.0 removes directive params, so I had to use dataset as recommended by the VueJS documentation and also mainly because I didn't want to be any differences between the v1 and v2 dists.

I believe it does not work because the validator only evaluates the dataset once it was bound by the directive.

may I ask if those bound values are only for rendering purposes (don't change)? or are they

[2016-09-01 13:14] Phunky commented on #9
Currently no expectation for them to change once rendered, just required as part of a `<ui-input/>` component.

I need to read up on directive changes for Vue2 as I was unaware of the deprecation of directive params.

[2016-09-01 14:58] logaretm commented on #9
OK I might be able to do something about it. I will test few things and will get back to you later today or tomorrow.

meanwhile here is a couple of links for Vue 2.0:

https://github.com/vuejs/vue/issues/2873
http://rc.vuejs.org/guide/custom-directive.html

[2016-09-01 19:01] RicardoEmpre opened #10 "[Feature Request] NotRequired rule for date_format and email"
I don't know if I'm not seeing the feature or if it's not present:
for example, if I have an input with data-rules="numeric" and it is empty, it will pass the validation
BUT, if I have something like data-rules="date_format:DD/MM/YYYY" or data-rules="email", and the input is empty, it will NOT pass the validation as if the field is required.

[2016-09-01 19:50] logaretm commented on #10
You are right, I was planning to fix this sometime ago but few critical things came up. this issue will be fixed in the next couple of days.

The suggested behavior is: unless the field is required, empty values will pass the validation.

[2016-09-02 00:26] logaretm commented on #9
@Phunky Do you mind testing the latest commit? I tested few stuff and it appears its not happening with Vue 2.0.

Vue 1.0 seems to have this issue, I've delayed the binding until the next tick which should have your bindings ready by then. I might change few things until the next v1 tag, but can you confirm that the last commit works? Thanks !

[2016-09-02 13:14] RicardoEmpre commented on #10
thanks! great work with this!

[2016-09-02 16:14] logaretm commented on #10
@RicardoEmpre OK it is implemented now in the last commit, I will tag a release tonight or first thing in the morning.

From now on, all fields pass will validation if they have "empty" values, unless they have the `required` validation rule. the values that are considered empty are: `undefined`, `null` and `''` (empty string)

[2016-09-02 16:14] #10 closed

[2016-09-03 15:04] logaretm commented on #9
I believe its fixed in the latest v1.x now. Feel free to re-open this issue or create a new one if this is not the case.

[2016-09-03 15:04] #9 closed

[2016-09-03 21:40] Phunky commented on #9
Hey @logaretm, just gave latest release a test and it's working 👍

[2016-09-04 00:10] logaretm commented on #9
glad to hear, thanks for pointing this issue out.

[2016-09-04 05:27] robmpreston opened #11 "Directive doesn't register inside of <router-view>?"
I'm having an issue... I register using Vue.use(VeeValidate)... If I look at the root component and my navbar component, i see the error object but on the router-view the error object does not exist and using v-validate gives a warning that the directive was not found.

Any thoughts?

[2016-09-04 11:30] logaretm commented on #11
Okay I just setup a small test and it appears its working properly, can you give a code snippet of your setup?

[2016-09-04 14:00] robmpreston commented on #11
Yeah Im confused...

even with just:

`
import Vue from 'vue'
import VeeValidate from 'vee-validate'
import App from './vue/app.vue'
Router.start(App, '#app')
`

routes.js:
`
let routes = {
  '/forgot-password': {
    name: 'forgot',
    component:  Vue.component('forgot', require('./vue/pages/auth/forgot.vue'))
  }
}
let Router = new VueRouter({
  history: true
})
Router.map(routes)
`

app.vue:
`

[2016-09-04 14:19] robmpreston commented on #11
You can close this... I havent figured it out, but theres a bigger problem with my setup, now its not recognizing my filters in the router-view either

[2016-09-04 14:29] robmpreston commented on #11
I lied, filter is fine, so maybe it is something weird. vue resource, vuestore, others work fine... just not vee validate

[2016-09-04 14:30] robmpreston commented on #11
Actually, as soon as I add the Vue.use(VeeValidate), my global filter stops working as well.

My versions:

[code]

[2016-09-04 14:46] robmpreston commented on #11
If you want I can email you my project so you can take a look?

[2016-09-04 14:51] logaretm commented on #11
Here is my test setup:

[code]

Maybe something is wrong with your setup I'm not sure. or some conflict with the filter. sure you can email me: logaretm1@gmail.com

[2016-09-10 04:20] robmpreston commented on #11
Updated to Vue 2.0... directive errors gone, however now getting this when testing on an input:

vee-validate.js?d4ab:993 Uncaught TypeError: Cannot read property 'dataset' of null
vue.common.js?e881:4333 Uncaught TypeError: Cannot read property '_transitionClasses' of undefined

[2016-09-10 14:44] logaretm commented on #11
the latest tagged version (2.0.0-beta.10) should fix this issue.

[2016-09-11 13:41] robmpreston commented on #11
All good now, thanks!

[2016-09-11 13:41] #11 closed

[2016-09-12 07:24] jarredhawke opened #16 "Incorrect link to documentation on npmjs.com"
On this project's npm page (npmjs.com/package/vee-validate) the link to the documentation is incorrect.

It lists logaretm.github.io/vee-validate as the location of the docs when it is actually vee-validate.logaretm.com.

[2016-09-12 11:09] logaretm commented on #16
Sorry about that. I just changed it yesterday. Should be fixed now.

[2016-09-12 11:09] #16 closed

[2016-09-13 14:58] musicformellons opened #18 "date between, does not work on demo site..."
![screenshot from 2016-09-13 16-57-32](https://cloud.githubusercontent.com/assets/10334123/18478925/53789488-79d3-11e6-8b29-82d9f794c2f6.png)

[2016-09-13 19:16] logaretm commented on #18
It should be fixed now, I had confused with another rule.

[2016-09-13 19:16] #18 closed

[2016-09-13 19:30] musicformellons commented on #18
works!

[2016-09-14 15:55] vijaythecoder commented on #11
I am having the same issue

[code]
when I try to use
`Vue.use(VeeValidate);`
I get the following
`[Vue warn]: Unknown custom element: <router-view> - did you register the component correctly?`

[2016-09-14 16:18] logaretm commented on #11
I'm not sure if it is the same issue, can you create a new issue or add the entry point of your app, I don't think its caused by the `vee-validate` plugin. you could be missing `Vue.use(VueRouter);`

[2016-09-14 17:41] vijaythecoder opened #19 "Directive doesn't register inside of <router-view>?"
I am having the same issue #11

[code]

[2016-09-14 18:43] logaretm commented on #19
did you mean?
[code]

anyways I created a small jsfiddle similar to what you have, but its working as expected:

https://jsfiddle.net/logaretm/9rw0q2cg/

[2016-09-14 18:46] vijaythecoder commented on #19
its
[code]

[2016-09-14 18:46] vijaythecoder commented on #19
but still it doesn't work for me, may be the reason is child components?

[2016-09-14 18:55] logaretm commented on #19
Does the routing work, in other words is all of your app working except for `vee-validate`. because I doubt it has anything to do with the router.

I think it will be easier to debug if you can create a fiddle that reproduces this issue.

[2016-09-14 18:59] vijaythecoder commented on #19
I get this error only after I add your code. I am developing this for the 2 weeks and it went smooth. I am already using vue-validator for couple of forms and your plugin seemed better and light weight. so I tried yours, in the first part itself I get this error

` Unknown custom element: <router-view> - did you register the component correctly? For recursive components, make sure to provide the "

[2016-09-14 19:19] logaretm commented on #19
I see. Since I can't reproduce the issue can you create a fiddle that reproduces the issue? or provide me with the relevant parts of your app so I can take a look.

[2016-09-14 19:21] vijaythecoder commented on #19
yeah I can setup a repo or share my working private repo tomorrow and send you. Thanks for continuous support :)

[2016-09-14 19:28] logaretm commented on #19
okay great, looking forward to it 👍 .

[2016-09-16 10:29] smilosevic opened #20 "Checkbox and Radio buttons validation"
As much as I can see, validation doesn't work on checkbox and radio inputs.

[2016-09-16 12:57] adrianratajczak opened #21 "Don't work in templates"
Hi,
I tried to use vee-validate for vue.js v 1.0 with component template but it simply doesn't work.
When I use on html without template all is working.

[2016-09-16 15:05] logaretm commented on #20
Sadly I'm still working on it atm, should be available soon.

[2016-09-16 15:06] logaretm commented on #21
Can you give me a code example, I will be happy to take a look.

[2016-09-16 15:06] smilosevic commented on #20
Tnx, I would really appreciate that.

[2016-09-19 09:27] adrianratajczak commented on #21
Take  a look at gist here: https://gist.github.com/adrianratajczak/b923c8e0ef92342a52f828c7518ebb4c#file-view-php-L10

Code from line 10 is working. But on template not.

[2016-09-19 14:25] logaretm commented on #21
Thanks, I found a couple of issues:

The input in the template doesn't have a name or a binding expression, so it isn't able to id the field. also the span in your template tries to display error message for an `email` field instead of the `title`, I fixed them and it works as I can see.

[code]

[2016-09-19 17:09] #21 closed

[2016-09-23 09:36] rstoenescu commented on #11
Still not working with Vue 1.0. Any fixes?

[2016-09-23 09:40] rstoenescu opened #25 "Failed to resolve directive: validate with Vue 1.x and v1.0.0-beta.7"
vue.common.js?e881:1019 [Vue warn]: Failed to resolve directive: validatewarn @ vue.common.js?e881:1019resolveAsset @ vue.common.js?e881:1941compileDirectives @ vue.common.js?e881:7531compileElement @ vue.common.js?e881:7143compileNode @ vue.common.js?e881:7099compileNodeList @ vue.common.js?e881:7282compileNodeList @ vue.common.js?e881:7283compileNodeList @ vue.common.js?e881:7283compileNodeList

[2016-09-23 10:26] rstoenescu commented on #25
`[Vue warn]: Failed to resolve directive: validate`

[code]

Vue 1.x, Vee Validate 1.0.0-beta.7

[2016-09-23 17:53] logaretm commented on #25
Is this related to #11 ? I'm putting together an example on webpackbin.

[2016-09-23 17:56] rstoenescu commented on #25
I'm not sure. I don't think so.

[2016-09-23 18:04] logaretm commented on #25
Ok I tried a quick example here, no issues

http://www.webpackbin.com/NymQTICnZ

If you can send me your project, I can take a look, probably I'm missing something.

[2016-09-23 18:40] rstoenescu commented on #25
Tested with beta 5 and same thing.

I've put together a project to highlight the issue. It's great for you to investigate.
Unzip it, `npm install`, `npm run dev`. Click on the button in the middle of the page called "Go to issue". Then observe the browser console logs.

Thanks for investigating this!

[vee-validate.tar.gz](https://github.com/logaretm/vee-validate/files/490417/vee-validate.tar.gz)

[2016-09-23 19:40] logaretm commented on #25
OK, I don't really know why but in the router.js I included VeeValidate there instead of app.js:

[code]

and its working now. I'm not sure why, I hope you can shed some light. I assumed that maybe the router is extending vue components without installing the plugin properly.

[2016-09-24 10:17] rstoenescu commented on #25
Thanks for helping out. It works now. But we still have to determine what's going on. I will investigate in the following days.

[2016-10-03 13:45] shinodaluk opened #26 "Fails when forcing validation outside component"
I am registering the component $validator in a root object to validate globally when user click on submit, but all values come undefined....

[2016-10-03 13:57] shinodaluk commented on #26
Updating solved.

[2016-10-03 13:57] #26 closed

[2016-10-06 15:56] leafiy opened #27 "Directives are only meant for direct DOM manipulations in Vue2.0"
from vuejs.org

Directives are only meant for direct DOM manipulations in 2.0, indeed.

But I noticed that Vee still use the `{context}` to store validate status, am I right?

[2016-10-06 17:00] logaretm commented on #27
Validation status is not saved, it is deduced from the errors object, if there are any errors then some input is not valid.

The context vm only rule in the directive is to call the `$validator` methods from it, so I'm just calling methods of the context, and I don't modify it.

[2016-10-09 08:04] peterSa opened #29 "Internet explorer 11"
I love the plugin but it does not work in  internet explorer.
Currently I am testing it in internet explorer 11 and it doesnt work.
Apparently the main issue is the translations file as ie  does not support the syntax

with brackets.
Is there an easy fix for this?

[2016-10-09 12:16] logaretm commented on #29
Sorry, I assumed that most people will have some sort of a bundling/build step with Webpack or Browserify or whatever, which would resolve this issue since babel is going to take care of it. and exporting language files as modules makes a lot of since, I kept it in ES6 tho. sorry about that.

the easiest fix I can think of is to destruct it yourself like this, although this will be very annoying f

[2016-10-10 00:15] jartaud opened #31 "A bunch of spaces will break required rule even using v-model.trim"

[2016-10-10 06:53] logaretm commented on #31
Thanks! should be fixed in the next tag by the end of the week.

[2016-10-10 20:06] psi-4ward opened #32 "[req] dirty flag"
Hi,

can we introduce a `dirty` flag?

So I'm searching for a way to display the `save` button only when a change happened.

[2016-10-10 21:19] logaretm commented on #32
Its definitely on my todo list, I'm still unsure how I will go about implementing it, I would probably add `changed` and `dirty` flags once I figure a nice way to access them.

Once I resolve the current issues I will start working on it, thanks for reminding me.

[2016-10-10 21:20] psi-4ward commented on #32
currently I do it this way
[code]

[2016-10-11 05:27] logaretm commented on #32
Yea I was thinking about waiting until a validation is fired, I might include it in the next tag at the end of the week.

[2016-10-11 11:36] ansarizafar commented on #20
Any update? I badly need this feature.

[2016-10-11 12:33] logaretm commented on #20
@ansarizafar I finished a basic support for radio buttons, and pushed basic support for check boxes yesterday, sorry it took that long but I had to refactor my code. anyways they are pretty limited compared to other input types. do you mind giving me few examples on how you plan to use them? I might miss few considerations.

if everything goes smoothly, by the end of the week there will be a new b

[2016-10-11 12:57] ansarizafar commented on #20
I am using a checkbox on a signup form for the user to accept terms and conditions.     this.$validator.validateAll() is also not returning true even when all validation rules are passed. I am also struggling to make a custom validator to validate user email on server. An example of custom validator which returns a promise would be very helpful.

[2016-10-11 13:07] smilosevic commented on #20
this.$validator.errorBag.any() returns 'true' if there are errors, or 'false' if there aren't.

[2016-10-11 20:26] aljaydavids opened #33 "Email validation very limiting"
Hi There

Looking at the email validation regex I see you only allow a select few characters:
export default (value) => /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$/.test(value);

Would it be possible to get a more generic email validation to account for other characters.

I will be more then glad to add this as my first ever open source pull request if you are willing to let me.

[2016-10-11 20:54] nilgradisnik commented on #33
:+1: Even though I like the simplicity of having a small set of built in rules, it might be worth considering using something like [validator](https://github.com/chriso/validator.js). It's lightweight, battle tested and provides a lot more rules.

[2016-10-11 21:59] logaretm commented on #33
@aljaydavids sure go ahead, I will be more than happy to accept it.

@nilgradisnik
You are probably right, but the reason I wanted to keep it in-house is to not tie my code to any external APIs or having to update entire sections because some method changed or whatever. but I will consider using validator maybe in the next major version or so. Thanks for the feedback.

[2016-10-11 22:11] logaretm commented on #20
@smilosevic you are right, when passing no params to the `validateAll` method, it just triggers the validations via local component event bus.

@ansarizafar you can check the [coupon example](http://vee-validate.logaretm.com/examples#coupon-example).

[2016-10-11 22:12] logaretm commented on #33
I'm closing this since @aljaydavids implemented it in #34

[2016-10-11 22:12] #33 closed

[2016-10-13 20:53] BrandonSurowiec opened #37 "[Proposal] Add 'passed' bag to show fields that have been validated"
It would allow us to check if the field has been validated and is not just an empty input.

    :class="{ 'is-valid': passed.has('email') }"

[2016-10-14 00:00] pavelkabanov opened #38 "Use of undefined constant errors - assumed 'errors'"
Hi.

I want to add vee-validate to my Laravel project, but I receive an error: "Use of undefined constant errors - assumed 'errors' "

code:
[code]

So, I removed this line ```<span class="error" v-show="errors.has('email')">{{ errors.first('email') }}</span>```, there is no errors, but validation not working...

[2016-10-14 00:41] BrandonSurowiec commented on #38
Need to escape the blade command with the @ symbol so it comes through for Vue:

[code]

[2016-10-14 07:02] logaretm commented on #38
Like @BrandonSurowiec said, this issue isn't related to the plugin, it is related to Vue and Blade sharing the same binding syntax with the `{{ }}`, luckily blade offers a way to escape them so they are ignored when rendering the view in blade. and Vue gets the pick them up on the client side.

[2016-10-14 07:02] #38 closed

[2016-10-14 22:45] psi-4ward commented on #32
So its more easy.
The `input` events gets propagated so we can listen on it on the `<form @input.native`.
We could also introduce custom events to propagate the validation state.

Like
[code]

[2016-10-15 05:20] logaretm commented on #32
I implemented it in 2.0.0-beta.13 and 1,0.0-beta.8, should be straight forward to use, check the [releases](https://github.com/logaretm/vee-validate/releases).

Listening to the form could be troublesome since not everybody places their inputs inside a form since Vue.js can submit the data ajaxly without the need of a form.

I'm going to close this issue, if you think something is not working prop

[2016-10-15 05:20] #32 closed

[2016-10-15 05:23] logaretm commented on #37
@BrandonSurowiec Implemented in [2.0.0-beta.13](https://github.com/logaretm/vee-validate/releases/tag/2.0.0-beta.13) and [1.0.0-beta.8](https://github.com/logaretm/vee-validate/releases/tag/1.0.0-beta.8), the usage is a bit different than what you suggested:

[code]

also there are other flags you can use, I'm closing this issue, if you think something is not working as intended feel free to open

[2016-10-15 05:23] #37 closed

[2016-10-15 05:23] logaretm commented on #31
Should be fixed in 2.0.0-beta.13 and 1.0.0-beta.8

Feel free to reopen if its not the case.

[2016-10-15 05:23] #31 closed

[2016-10-15 05:25] logaretm commented on #20
@smilosevic sorry it that long, didn't have the time I though I had while implementing it.

should be up in [2.0.0-beta.13](https://github.com/logaretm/vee-validate/releases/tag/2.0.0-beta.13) and [1.0.0-beta.8](https://github.com/logaretm/vee-validate/releases/tag/1.0.0-beta.8), I tried to cover as much uses as possible if you think I missed something feel free to create another issue.

[2016-10-15 05:25] #20 closed

[2016-10-15 14:05] BrandonSurowiec commented on #37
@logaretm You are amazing, thank you!

[2016-10-16 03:12] jartaud commented on #31
Great! thanks

[2016-10-17 02:57] BrandonSurowiec commented on #37
@logaretm I seem to be getting a "Cannot read property 'passed' of undefined" error when I use

    "vee-validate": "^2.0.0-beta.13",
    "vue": "^2.0.3",

Attempting to do:
[code]

It worked on 1.0 for me. Just upgrading my project and everything else is working except for this now. Is it my fault?

I tried updating your example, but it wasn't pulling in the 2.0.0-beta.13 library or something: ht

[2016-10-17 03:00] logaretm commented on #37
I think I messed up something in V2 version when I was fixing V1 issues, I will look into it.

[2016-10-17 03:28] BrandonSurowiec commented on #37
@logaretm It looks like a fault on my end. I was using PHP to swap in field names and one was accidentally named with a hypen.  Seems to be working now. Sorry for the trouble!

[2016-10-17 03:31] logaretm commented on #37
Glad it worked, no problem at all :)

[2016-10-17 15:30] cj opened #39 "vue 2 ssr issue"
vue: `2.0.1`
vee-validate: `2.0.0-beta.1`

There appears to be an issue when using SSR:

[code]

[2016-10-17 18:18] logaretm commented on #39
Seems like the plugin is being installed twice, or some other plugin might be conflicting with it, or something else entirely I didn't test it with SSR yet. I will look into it. try to use the latest versions of Vue and vee-validate in the meantime.

[2016-10-17 22:49] DragonI opened #40 "Minimum Dimensions?"
The current validation is limited because the width and height must match exactly (unless I'm missing something), i.e. dimensions:200,200. My requirement is that the image must be at least 200 x 200 px.

Are there any plans of adding the ability to validate the min. width and height of an image?

Thx

[2016-10-18 02:17] cj commented on #39
@logaretm I'm getting that error server side, so it's 100% SSR.  I'll try and pinpoint where.

[2016-10-18 07:05] logaretm commented on #40
I have a more general plan that allows passing named parameters to the validations, that will give the rules more flexible behavior, but I have my hands full working with the docs, I suggest you add a custom rule and use the current implementation of the [dimensions](https://github.com/logaretm/vee-validate/blob/master/src/rules/dimensions.js) rule.

possibly you only to update this line:

[code]

[2016-10-18 09:17] m-lotze-7o7 opened #41 "required_if rule or update validator on view changes"
Hello,

It would be nice to have a rule `required_if:someField,someValue` like in laravel.

Or even better update the validator instance, when the view updates, if that is possible. Currently when removing some required fields with `v-if` and calling `this.$validator.validateAll()` the ErrorBag still contains the errors for the removed fields.

Thanks

[2016-10-18 15:20] JoTrdl opened #42 "Do not use Proxy Api"
Hello,

First, thanks a lot for your lib, really good work.

But I have one complaint: do not use Proxy() because it is impossible to polyfill it. A good description of the problem can be found here: http://stackoverflow.com/questions/24907229/is-there-proxy-object-polyfill-available-google-chrome

It is possible to polyfill Proxy() for an object that already contains properties but impossible to

[2016-10-18 16:27] logaretm commented on #42
I didn't want to use it, and I'm trying to ditch it. but I needed some way to prevent the render errors since the properties and fields objects are not available until the directive is being bound. I wanted something like PHP's magic __get, but I couldn't find something similar other than the proxy object.

If you have a suggestion how to achieve this it would be great, and I will be more than hap

[2016-10-18 16:37] logaretm commented on #41
I would love to add it, but I need to update the docs and finish up some issues. I will work on adding more rules once I finish those issues.

something like this should work:
[code]

You can create a pull request with it and add few tests for it and I would be happy to accept it.

[2016-10-18 19:25] DragonI commented on #40
ok thx

[2016-10-19 07:44] imcvampire opened #44 "`locale` doesn't work in Vuejs 2.0"
I set `locale` option to `vi` or `ar` but all of them don't work. There is a warning in console:

[2016-10-19 09:35] logaretm commented on #44
The locales have to be "merged" with the dictionary first before you set them, check the [localized messages example](http://vee-validate.logaretm.com/examples#locale-example)

notice in the JavaScript we are merging the messages before setting them:

[code]

[2016-10-19 10:12] imcvampire commented on #44
I still have to use this even this locale in `/dist/locale` ?

[2016-10-19 11:14] logaretm commented on #44
yep, they are just in dist to make it easier to import them, they are not included to keep the size to minimum.

[2016-10-19 12:21] imcvampire commented on #44
Thank you for your information!

[2016-10-19 12:21] #44 closed

[2016-10-19 16:04] tvld opened #45 "Documentation says :next for Vue 2.0 ?"
[code]
Vue 2.0 is released. Should we still install next or not ?

[2016-10-19 16:49] logaretm commented on #45
Yea I was planning to update them but I guess we are going to stay with the next tag for Vue 2.0 the time being, sorry for the confusion.

[2016-10-19 16:49] #45 closed

[2016-10-19 17:44] xereda opened #46 ""Confirmed rule" is not translating the second attribute."
Hi, how are you?

First I want to thank the excellent work. The api is our job to be more productive. Congratulations!

I believe we have found an inconsistency. In confirmation rule (confirmed), the second attribute is not being translated as my definition of local messages. Translation to other texts is perfect.

You can check this !?

Thank you.

Jackson Ricardo Schroeder

[2016-10-19 19:20] logaretm commented on #46
I'm glad you like it, can you setup a small example on webpackbin or jsfiddle to produce the issue, I will be happy to check it out.

[2016-10-19 20:45] xereda commented on #46
Ok, it was done in the url:

https://jsfiddle.net/xereda/dtjoyugu/

[2016-10-19 21:36] logaretm commented on #46
thanks I can see the problem now, I will work on it and will report back once done.

[2016-10-20 11:08] xereda opened #47 "Dirty and setPristine()"
Hello,

In AngularJS and vue-validate, we have available the event "dirty". With the event, for example, we can see if the form was "manipulated" and added the validation check of the rules, enable - or not - the button to save the form data.

How to do this validation with vee-validate?

Thanks for the feedback.

[2016-10-20 11:34] xereda commented on #47
Uol! https://github.com/logaretm/vee-validate/releases ;-)

Tks

[2016-10-20 12:37] renedekat opened #48 "Enable for dropdown"
Hi,

First of all: Nice work! Work a lot of with Laravel so don't have to remember 2 sets of validation rules.

Secondly, would it be possible to get this to work for dropdowns? I can attach the validation and it nicely tells me that the dropdown is required, but selecting an option becomes unusable as it keeps defaulting to the default value.

Cheers

[2016-10-20 13:15] max76 commented on #48
Hi,

I have a similar requirement, but it goes one step further, by trying wanting to require a dropdown built with "**vue-multiselect**".

All best,
Max

[2016-10-20 14:02] renedekat commented on #48
@max76 I am using the following workaround now. It simply boils down to adding a hidden field, that is a computed variable. The validation is done on the hidden field.

Example:

`
                <div class="form-group" :class="{'has-error': errors.has('tenant_validate_id') }">
                    <input type="hidden"
                           name="tenant_validate_id"

[2016-10-20 14:04] logaretm commented on #47
I'm considering adding helper methods to the fields object, like a  method that tells you if any of the attached fields are dirty or not, same goes for other flags.

also the API would probably change to use methods instead since the proxy class can't be polyfilled properly mentioned here #42

I'm thinking about something like this:

[code]

same goes for other properties.

[2016-10-20 15:40] renedekat opened #49 "Detach triggers warning on validate"
When detaching a field, it triggers a warning when calling validateAll.

I've checked the code and it seems the validate method doesn't check if a field is still in the fieldBag. It just grabs it from fields.

[2016-10-20 16:01] max76 commented on #48
@renedekat I was planning to use a computed prop as well.

[2016-10-20 17:33] xereda commented on #47
What is the deadline for release of the functionality?

[2016-10-21 06:19] logaretm commented on #47
a couple of days perhaps.

[2016-10-21 09:26] logaretm commented on #49
Actually, the internal `$fields` is not the same as the `fieldBag` that is being exposed to the vue instance,  sorry for the confusion, I will probably clean them up or merge them once I take care of the current issues.

However, that means that something else is causing the issue, I will setup a small example and get back with the results. Thanks!

[2016-10-21 09:36] logaretm commented on #48
Sorry I don't fully understand the issue here, Is dropdowns not working at all? can you setup a small fiddle so I can fully understand the issue.

@max76 MultiDropdown is an amazing plugin, but It would be hard to validate it directly like normal elements. The computed prop is one way to do it, or you can pragmatically attach the field, and use the`@update` hook to trigger `$validator.validate` on

[2016-10-21 09:39] max76 commented on #48
@logaretm thanks for your reply! I am also thinking of a way to validate child components as we speak...

[2016-10-21 09:53] renedekat commented on #48
@logaretm If you use the code I've posted above and do the validation on the actual dropdown instead of the hidden field, the validation prevents me from selecting an option. I can click on the dropdown, and it will show me the options, but when I select one, it reverts back to "none selected". The moment I remove the validate code from the select, it works as expected.

It works in this demo setu

[2016-10-21 13:12] laurentpayot commented on #25
Same issue here. The workaround worked.

[2016-10-21 21:43] logaretm commented on #49
Okay I found the issue, I didn't remove the event listeners whenever a field is detached. Should be easy to fix.

[2016-10-21 22:02] #49 closed

[2016-10-21 22:21] logaretm commented on #29
I will assume its fixed, feel free to re-open if its not the case.

[2016-10-21 22:21] #29 closed

[2016-10-23 14:15] max76 opened #51 "password custom validation rule"
Hi Logaretm,

I am trying to add password validation using a regex I found online and adding it as a custom rule. The idea is that one should have a password that is strong enough. However, I seem to get a problem adding the regex. I add the code example below.

Next, I tried something else which you can see in the second piece of code. This time there is no regex error, but there is an error in r

[2016-10-23 15:54] logaretm commented on #51
attach is not a 'static` method, it is an instance method, so you have to create an instance first like this:
[code]

then you can call `attach` normally:

[code]

Note that attaching fields does not attach the input event listeners, meaning you also need to do this:

[code]

[2016-10-23 19:56] max76 commented on #51
Hi again,

Thanks for your replay! I actually still continue to get the error: Uncaught TypeError: validator is not a function. The code is below:

All best,
Max
[code]

[2016-10-23 23:56] logaretm commented on #51
Thats weird, okay I setup a small example for you [here](http://www.webpackbin.com/EyemFEIyf) I'm using both the directive and the custom logic we were talking about here, I hope that helps.

[2016-10-24 07:12] ansarizafar commented on #48
I am also experiencing the same problem as mentioned by @renedekat but only on mobile devices. Here is the my code

[code]

[2016-10-24 08:26] renedekat commented on #48
I've noticed that when I remove the "v-validate.initial", the problem disappears.

[2016-10-24 09:46] max76 commented on #51
@logaretm thanks again for your reply! I will check it later in the day. I can see some small differences in what I did, so I am guessing I will now be able to implement things correctly.

All best,
Max

[2016-10-24 11:43] logaretm commented on #48
@renedekat I see you have two instances of the directive being bound on the same element, they could be conflicting in a way that caused the issue. I was trying to investigate it but it was working as intended for me, values were changing like they are supposed to. I even added a dropdown in the docs for the `in` rule example which is working properly. Were you using a specific browser?

@ansariza

[2016-10-24 11:54] renedekat commented on #48
@logaretm I don't see how I have it bound twice. Can you update this example to illustrate what you mean? https://jsfiddle.net/23qLxyb0/5/

[2016-10-24 12:01] logaretm commented on #48
@renedekat
lines 10 and 11 in the html you have:
[code]
which is two references to the directive, you can do this instead:
[code]
but I'm not sure if its causing the issue for you, I've added another rule to display the error message if the second option was selected.

[2016-10-24 13:03] renedekat commented on #48
@logaretm Brilliant! I thought they had to be used in conjunction. Thanks for that

[2016-10-24 17:53] xereda opened #52 "New rule for name fields"
Hello,

It would be interesting, a new type of rule. It is for a daily and very common need. I believe it is feasible to release a rule for the name field type, which are accepted only letters and spaces, nothing more.

What do you think!?

[2016-10-24 21:18] max76 commented on #51
Hi again,

That worked now :-)

All best,
Max

[2016-10-25 09:26] #51 closed

[2016-10-25 09:27] logaretm commented on #52
Yea I guess I can add `alpha_space` as - like you said - is very common, should be implemented today.

[2016-10-25 10:30] xereda commented on #52
Thank You!

[2016-10-25 12:27] wolthers opened #54 "Proposal: Add novalidate as value to validate directive"
I'm using the v-validate inside a custom input component like so:

[code]

Right now I get `Uncaught TypeError: validator is not a function` if I don't pass any rules and the directive is present, but you cannot without resorting to render functions or v-if, v-else branching, conditionally render a directive.

I guess a basic fix would be to exit early on validation if no rules are set, but anothe

[2016-10-25 14:17] logaretm commented on #54
Well someone proposed a similar issue in Vue 1.0 but I fixed it by letting the directive bind after the first tick which is pretty messy and introduced more problems that required more messy solutions.

But I agree with you, We could introduce some kind of flag to keep the directive from doing its thing until the component is ready whenever that may be. But still the rules won't be dynamic, once s

[2016-10-25 14:36] #52 closed

[2016-10-25 16:19] xereda commented on #47
I look forward, thanks.

[2016-10-25 16:23] xereda opened #55 "Reset form validation"
Hello,

How do I reset errors in my form? I have a modal window and when reopen, I disregard the previous mistakes.

What do you advise today with vee-validate?

Thank you.

[2016-10-25 17:07] logaretm commented on #55
Check the available methods on the [errors bag object](http://vee-validate.logaretm.com/api#error-bag) you can use `clear` or `remove` to remove any errors.

you would use it like this:

[code]

[2016-10-25 17:27] xereda commented on #55
I used this.errors.clear()

Tks

[2016-10-25 18:40] #55 closed

[2016-10-25 20:37] logaretm commented on #46
fixed [here](https://github.com/logaretm/vee-validate/commit/29496a45eaf9241adcd7169ad091f5b5e0e749c8)

might release a tag later this week.

[2016-10-25 20:37] #46 closed

[2016-10-25 20:47] xereda commented on #46
When I can update the vee-validate?

[2016-10-25 20:54] logaretm commented on #46
I will probably release a new version tomorrow or the day after, I'm trying to fix as much as possible between releases.

[2016-10-26 09:17] sproogen opened #56 "Can't validate form with multiple child components"
Hi,

In our app we have some fairly complex dynamic forms that have been broken down into multiple sub components and can be nested a few levels deep. We also currently using vuex too.

I don't seem to be able to get all the components to validate when validateAll is called at the parent level. After having a look at the source code it looks like this only emits and listens on the same component.

[2016-10-26 09:54] laurentpayot opened #57 ""Cannot read property 'vm' of undefined" after moving to Vue 2"
I was using vee-validate with the Quasar framework v0.7 (Vue 1) using the #25 workaround.

Now with Quasar v0.8 (Vue 2) I can't make vee-validate work at all. Every page I use it I get "Cannot read property 'vm' of undefined", pointing to [this line of code](https://github.com/logaretm/vee-validate/blob/master/dist/vee-validate.js#L2259).

To reproduce it:
[code]
Then add in main.js:
[code]
and re

[2016-10-26 09:56] laurentpayot commented on #25
@rstoenescu I can't use vee-validate anymore with Quasar v0.8. Created #57 for this.

[2016-10-26 10:00] rstoenescu commented on #25
NPM install `vee-validate@next`. That's the version compatible with Vue 2.

[2016-10-26 10:01] rstoenescu commented on #57
NPM install vee-validate@next. That's the version compatible with Vue 2.

[2016-10-26 10:15] laurentpayot commented on #57
D'Oh! Thanks @rstoenescu.

[2016-10-26 10:15] #57 closed

[2016-10-26 10:16] laurentpayot commented on #25
D'Oh! Thanks @rstoenescu.

[2016-10-26 10:16] rstoenescu commented on #57
Glad I could help!

[2016-10-26 10:16] rstoenescu commented on #25
Glad I could help!

[2016-10-26 10:19] laurentpayot commented on #25
By the way I am importing vee-validate in main.js so no more issue with vee-validate and Quasar 0.8.

[2016-10-26 11:53] logaretm commented on #56
Well in Vue 2.0 the component can only communicate via the old API by $emit, both $broadcast and $dispatch were deprecated, so I don't think It will be included in the plugin since there is no distinction between a form component with multiple children acting as custom inputs and say a layout with some inputs in it.

But I think you can do it in a couple of ways, depending on Vue version:

**Vue 1

[2016-10-26 11:57] logaretm commented on #25
@laurentpayot it seems specific to Vue 1.0 for some reason.

@rstoenescu any ideas why its happening to Vue 1.0?

[2016-10-26 12:14] sproogen commented on #56
Thanks for the response,

We are using Vue2 so I thought that an event bus would be the best approach to this. But I was unsure if it was something that might be included in the plugin.

I think we should be good to implement this our selves but it might be good to include something about this in the docs, maybe as an advanced example.

Thanks

[2016-10-26 12:19] logaretm commented on #56
Yea sure, I might add an example regarding this, thanks!

[2016-10-26 14:58] #56 closed

[2016-10-26 23:55] max76 opened #59 "async email validation & promises"
Hi logaretm,

I am making a new custom rule to validate whether an email is already in the system or not, and it is having some issues. I am either miss understanding how to create a custom rule, or the js promise concept.

I hereby include some code. I have basically tried a bunch of different things and the ajax call returns the right values, however, I get the following error. _Uncaught TypeErr

[2016-10-27 07:00] rstuart85 commented on #20
@logaretm I think you might need to update the docs for the checkbox validation.

From what I can see, the code explicitly relies on the input field having a name. The code to look for checked boxes is:

`const checkedBoxes = document.querySelectorAll(`input[name="${this.el.name}"]:checked`);`

This means, if you don't have a name on your input, it won't work. For example, this won't work:

`<inpu

[2016-10-27 08:22] logaretm commented on #59
You need to return the promise in your validator function,

[code]

but you need to make sure that whatever returns from the promise is an object containing a property called 'valid' which is boolean value, something like this:

[code]

Take a look at a similar example [here](http://vee-validate.logaretm.com/examples#coupon-example)

[2016-10-27 08:26] logaretm commented on #20
@rstuart85 Sorry about that, I was in the midst of changing the docs styling and I guess I dropped a few things while doing that.

I think I will revisit the checkboxes since they don't work properly with v-model like other inputs. Thanks for the feedback!

[2016-10-27 08:28] max76 commented on #59
Hi,

So something like this?

[code]

[2016-10-27 08:44] adwidianjaya opened #60 "TypeError on Safari: Attempted to assign to readonly property, pointing to setDirty function"
Hi, this is a great project since laravel validation was also a big help for laravel back end. However, I encountered an error while working with vee-validate for Safari Web Browser. Safari throw an error which is 'TypeError: Attempted to assign to readonly property'.
![screen shot 2016-10-27 at 15 39 11](https://cloud.githubusercontent.com/assets/5211073/19760463/16444b7e-9c5c-11e6-95f1-5fae81236

[2016-10-27 09:17] logaretm commented on #60
The last release used a Proxy object to assign those flags, but we dropped it because of this here #42

I think the next release should be able to fix it, you can pull the repo and build the latest changes and test it if you would like. Hopefully I can release a tag today or tomorrow. Thanks for the feedback!

[2016-10-27 09:18] logaretm commented on #59
yes, I think that should work.

[2016-10-27 09:44] max76 commented on #59
I now get _Uncaught (in promise) TypeError: Cannot read property 'valid' of undefined_

And an additional question in order to clarify how promises work. As my API is now, if you send a GET request for an unexisting item, it will return a 404 not found. Would that be the correct way to work with promises? Or should I return a 200 ok, with some json stating there was an error?

AB,
Max

[2016-10-27 10:44] adwidianjaya commented on #60
Thank you so much @logaretm for fast response. Actually, Proxy problem was occurred previously, but it was solved by adding proxy-polyfills (https://github.com/GoogleChrome/proxy-polyfill).
I tried to pull the latest changes, and yes, there is no Proxy usage compare to latest release. However, an error appear as shown in figure below, at line 2259. I've tried to find value/object contained in 'thi

[2016-10-27 11:55] logaretm commented on #60
I always liked Laravel's validation. You probably built the Vue 1.0 version which is located at master branch, you need to checkout the `next` branch which should contain Vue 2.0 stuff.

[2016-10-27 11:59] adwidianjaya commented on #60
Whoops, my mistakes. Next branch solve the problems. Thank you so much.

[2016-10-27 11:59] #60 closed

[2016-10-27 12:05] logaretm commented on #59
I would handle it via a post request instead, on your endpoint if the email exists then you return false. If it doesn't exist it could return 404 which is not ideal, because that means the email does not exist which is valid for your use case. you can handle the 404 error with the promises but a potential 500 error could be treated the same as false. which will not notify you of a greater problem

[2016-10-27 12:06] logaretm commented on #60
No problem, I probably should have made it more clearer in the readme.

[2016-10-27 15:57] #40 closed

[2016-10-27 16:17] poxin13 opened #61 "polyfill ES6 for IE11"
Unfortunately assign isn't supported because, well.. IE.

Error: Object doesn't support property or method 'assign'
`Object.assign(target, defineProperty({}, key, source[key]));`

Should work fine with babel but just wanted to report it.
https://babeljs.io/docs/plugins/transform-object-assign/

[2016-10-27 16:42] logaretm commented on #61
Thanks for the feedback, I will probably polyfill it in the next release.

[2016-10-27 20:36] xereda opened #62 "Check if the form is changed"
Hello, how are you?

What do you advise me to see if the form has not changed? What do you use today with vee-validate?

Thanks for the answer

[2016-10-27 20:58] max76 commented on #59
Hi,

Thanks again for your help :-)

I got the following to work.

**API**
[code]

**Validator**
[code]

[2016-10-27 21:38] #59 closed

[2016-10-27 21:39] logaretm commented on #62
Well the closest thing is the clean flag on all fields, but if the value changed from the original value, that has not been implemented yet.

[2016-10-28 05:54] zppro opened #63 "what is the use of custome attribute or what is attribute"
when i saw the doc , i can't figure out the usage scenario below

`name="email"` ,
` data-as="email"`,
`v-model="email"`
 or
[code]

[2016-10-28 08:44] zppro opened #64 "regex contains | character"
as doc said:

how to  **attach the field programatically and pass the regex there**
give me a example

[2016-10-28 10:52] logaretm commented on #63
The attributes replaces your field names in your error messages, so if you had a field that had a name like `name` but it represents the full name of the user, using those custom attributes will output `Full Name` instead of `name` for that field.

[code]

Another usage is translations, field names can be translated, and the validator will use the dictionary to translate any field when generating

[2016-10-28 10:56] logaretm commented on #64
[code]

Note that you have to validate the field manually as well, as `attach` doesn't add the event listeners necessary for automatic validation.

[2016-10-28 11:32] xereda commented on #62
For now, I control this by a data object clone. If they get different, I know that there was a change.

What do you think!?

[2016-10-28 14:04] logaretm commented on #62
That would work as well, you can do it however you would like. I hopefully can support `changed` flag by full release

[2016-10-29 00:11] rendion opened #65 "unable to specify field name in error for bound fields"
vue properties are essentially program vars and are not designed to be field display names for error messages.  The validator should take a display-name param or use the input name as it does for nonbound fields.

[2016-10-29 03:43] zppro commented on #64
got it!

[2016-10-29 03:43] #64 closed

[2016-10-29 08:26] logaretm commented on #65
You have a couple of options here, you can use `data-as` attribute to specify a different display name, or use the attributes to specify field names.

[Docs](http://vee-validate.logaretm.com/localization#attributes-data-as)

[2016-10-29 11:43] #27 closed

[2016-10-29 18:09] #61 closed

[2016-10-29 18:11] #62 closed

[2016-10-29 18:11] #63 closed

[2016-10-29 19:48] ctf0 opened #66 "email validation through mailgun api"
is there any chance to incorporate the mailgun api email validation into the core email rule ?

https://documentation.mailgun.com/api-email-validation.html , something like http://formvalidation.io/examples/using-mailgun-api-validate-email-address/

[2016-10-29 20:26] logaretm commented on #66
You can't override the core rules at the moment, but you can add a custom rule which should validate the email against the Mailgun API. And I don't think its very common to make it a 'built-in' rule as other developers may want to use some other API or not need it at all.

If you need help implementing the custom rule I would be happy to help.

[2016-10-29 20:31] logaretm commented on #48
@renedekat Does this issue still occur?

[2016-10-29 20:42] ctf0 commented on #66
okay i understand but the issue is i dont know how to convert the curl call to js instead 😢 , however the only solution i could have atm is use the jquery code https://documentation.mailgun.com/api-email-validation.html#jquery-plugin in the custom validator

[2016-10-29 21:44] logaretm commented on #66
Seems like you need to send a GET request to this URL `https://api.mailgun.net/v3/address/validate` and you should provide your public key and the address to validate.

[code]

Something like that should work, I can't seem to get it to work tho, keeps returning 401's for my account, here is a small jsfiddle that uses one of their public keys:

https://jsfiddle.net/6b0umy5o/1/

[2016-10-29 22:22] #42 closed

[2016-10-29 23:45] ctf0 commented on #66
soooweet, and we can use if & else for the different msgs that come back from mailgun and bind to the `getMessage` , correct ?

[2016-10-30 00:28] greggnic opened #67 "Can't use date_format with colons"
When using the `date_format` rule, any format with a ":" in it does not work properly. For example:

[code]

The error message comes out as: "The time must be in the format HH."
I've got the `date_format` working with "MM/DD/YYYY" so I know that moment is set up correctly.

[2016-10-30 05:21] logaretm commented on #66
Different messages for the same rule can be tricky, I didn't implement 'reasoning' behind error messages since all of them are very basic, but I plan to soon.

A workaround to to either cache the response, and the message should load it from the cache and remove it when it fetches it. I'm aware that is not very clean but I'm working on it.

You might also need to throttle the api requests to avoid

[2016-10-30 05:32] logaretm commented on #67
Could be that the validation parsing is treating the colons as rule params, I will look into it.

a workaround is to attach the field manually (keep the directive on the element):

[code]

Here is a fiddle: https://jsfiddle.net/7jhf3qyj/

that way you just overridden the rules for that field, I will try to make it work like you originally intended.

[2016-10-30 11:27] nirgendswo opened #68 "ReferenceError: Can't find variable: Proxy"
There is a Problem in Safari 10, if i use VeeValidate i get always this bug on entering the webapp. On Chrome, Firefox and IE it works all just fine.

Safari 10
Vue 2.0.2
VeeValidate 2.0.0-beta.13

[2016-10-30 13:44] logaretm commented on #68
Possibly related to #60

Its already available on the `next` branch if you want to try it. I will try to release a tag with the fix today, thanks!

[2016-10-30 18:15] andreaspfurtscheller opened #69 "Support error messages from validation promise"
Hello,

I am validating values remotely using VueResource and returning a Promise, which works well.
The only thing I am missing is the support to display the error messages sent back by the server.

I used the vue-validator package before, which allowed me to do something like that:

    return ValidationResource.validate(params, body)
        .then((result) => {
            return Promise.resolv

[2016-10-30 19:13] ctf0 commented on #66
i didn't know it was that hard, however as i understand that the v-resource have 2 response type (success & error) and i believe if the address wasn't valid mailgun send back a non 200 status which we can then catch in the error response and in this case we can keep the `getMessage` as an empty string and bind it with whatever come from the responses, is that even possible or am i missing the poin

[2016-10-30 20:03] logaretm commented on #69
Yep, I agree that the error messages are not flexible enough atm, I'm exploring different approaches to this.

[2016-10-30 20:05] logaretm commented on #66
yes of course you can handle it that way, you can store the message in the instance data and have it bound.

[2016-10-30 20:28] ctf0 commented on #66
but this is not possible with the Validator.extend correct ?

[2016-10-30 21:18] logaretm commented on #66
I'm not sure what do you mean, but the plugin does not support it directly so you must find a way around it for the time being, Like I said I'm exploring alternatives and different approaches.

I updated the fiddle to show one way (messy): https://jsfiddle.net/6b0umy5o/2/

here another but it requires you to extend it inside the component to gain a reference of `this`

https://jsfiddle.net/6b0umy5

[2016-10-30 21:19] logaretm commented on #69
You can also take a look at this #66 which pretty much needs this functionality also.

[2016-10-30 22:28] #66 closed

[2016-10-30 22:29] #69 closed

[2016-10-30 23:41] greggnic commented on #67
Thanks for the workaround!

[2016-10-31 00:41] zppro opened #70 "how can i submit a zh_CN locale file"
as title

[2016-10-31 01:26] logaretm commented on #70
- Take a look at the [en file](https://github.com/logaretm/vee-validate/blob/master/dist/locale/en.js) and make sure you translated all rules.
- Fork the repository.
- Add the translated file to `dist/locales/` and commit the file.
- Create a pull request to merge your changes.

You can take a look at older pull requests.

[2016-10-31 02:02] ctf0 commented on #66
many thanx for this

[2016-10-31 02:25] logaretm commented on #66
No Problem, I will post an update here once I tag the next release with the new behavior.

[2016-10-31 03:01] ctf0 commented on #66
appreciated :100:

[2016-10-31 03:06] zppro opened #71 "error in ios 9.x and no error ios 10.x,android and pc"
when i use Vue.use(VeeValidate) ,it occurs the error ,and i cant even get error as it's in ios mobile browser.

[2016-10-31 03:28] zppro commented on #71
and  when i use found
line2175   `Vue.mixin(mixin(options)); // Install Mixin.`
in vee-validate.js
this line to ios 9.x is error

[2016-10-31 10:01] a569922982 opened #73 "Proxy is not defined"
"Proxy is not defined " on the IE11
Add anywhichway/chrome-proxy some Browser is run
but  IE11 don,t run

[2016-10-31 10:13] andreaspfurtscheller opened #74 "return promise after all fields are validated"
Hello,

I try to realise a form which prevents submitting if validation fails. I have several rules returning promises.

How do I know if validation is completed for all fields using the `validateAll` method without validating all fields manually? I have not found any events or callbacks helping me to achieve this behaviour.

Regards,
Andreas

[2016-10-31 10:29] logaretm commented on #73
Possible duplicate of #68 you can either use the latest build on the master/next branch or use any polyfill service to polyfill the Proxy for the IE. or wait for the next tag later today.

[2016-10-31 10:29] #73 closed

[2016-10-31 10:30] #70 closed

[2016-10-31 10:39] logaretm commented on #74
The plugin lumps the promises returned from different rules together, so you can do something like this:

[code]

I guess the inconsistency is an issue here, I guess a better alternative is to return a promise regardless, which is cleaner than a regular callback. Should I always return a promise or provide another method, lets say: `run` That is the same as `validateAll` but always returns a Promi

[2016-10-31 10:40] #68 closed

[2016-10-31 10:42] andreaspfurtscheller commented on #74
But the `validateAll` function is returning `undefined` for me because of this I think:

    if (this.$vm && (! values || typeof values === 'string')) {
        this.errorBag.clear(values);
        this.$vm.$emit(EVENT_NAME, values);

        return;
    }

[2016-10-31 10:45] logaretm commented on #74
I guess I forgot about that, I will try to fix it today, collecting the input values is going to be tricky in that case.

[2016-10-31 10:47] andreaspfurtscheller commented on #74
Thanks for that. I am currently trying to find a satisfying way to get those values, it's really tricky I think.

[2016-10-31 17:19] nikolaynesov opened #75 "npm ERR! bootstrap-sass"
Not able to install this package.
[code]

[2016-10-31 17:49] logaretm commented on #75
Its probably not related to the plugin, can you include the `package.json` file here?

[2016-10-31 18:06] BrandonSurowiec commented on #47
I love the idea of helper methods on the field object.

[2016-10-31 19:58] nikolaynesov commented on #75
@logaretm sure
[code]

[2016-10-31 20:03] logaretm commented on #47
I added:
- `reset`: resets the flags for the specified field, if no arguments were provided it will reset all fields' flags.
- `setValid`: sets the valid flag for a specified field and updates its computed flags (failed, and passed).
- `setDirty`: sets the dirty flag for a specified and updates its computed flags (failed, passed, and clean).
- `dirty`: gets the dirty flag for the specified field,

[2016-10-31 20:03] #47 closed

[2016-10-31 20:17] #65 closed

[2016-10-31 20:19] logaretm commented on #75
Its definitively not related to the plugin, I just installed all those dependencies without issues, try to remove `bootstrap-sass` from `package.json` and try again.

[2016-10-31 21:04] Woutje99 opened #76 "Dynamic parameter/argument in data-rules"
Hi, Is it possible to dynamic add data to the data-rules? You see a example below but it's not working.

`<input v-validate data-rules="numeric|toLow:{{ amount }}"  name="bieden" v-model="bieden" type="number">`

`Validator.extend('toLow', {
    getMessage: field => 'Error tolow',
    validate: function(value, options) {
      console.log(value);
      console.log(options);
    }
});`

[2016-10-31 21:07] nikolaynesov commented on #75
@logaretm true, the issue does not happen when just adding dependency manually and running `npm install`. It only happens when running `npm install vee-validate@next --save`.
Anyway thank you for the quick response.

I also found another issue with validating the password. When using the rule `confirmed` and attributes `data-as`. The confirmed field error message does not recognize `data-as` attri

[2016-10-31 21:59] logaretm commented on #75
OK I will look into the install problem again.

As for the confirmed rule it has been reported before in #46 and was fixed but not tagged yet. But I guess I will improve it to support data-as on the target field thanks for the feedback.

Thank you for your support and feedback.

[2016-10-31 22:03] logaretm commented on #76
currently its not possible since the rules are evaluated only once the directive was bound, but I might add support for this though since it is very common, we talked about something similar here in #54.

Thanks for the feedback.

[2016-10-31 22:06] Woutje99 commented on #76
Ah excuse me, clicked several issues but don't see that one.

That should be a very nice feauture, if you can use data object dynamic in the data-rules, I hope you add it soon!

[2016-10-31 22:29] xereda commented on #47
Very good! Already been released?

[2016-10-31 22:34] BrandonSurowiec commented on #47
It's not released yet.

[2016-11-01 01:05] xereda opened #77 "Regex error"
Hi,

I'm trying to use a regex, plus the following error occurs:

`vee-validate.js?d4ab:264 Uncaught SyntaxError: Invalid regular expression: /^(+/: Nothing to repeat(…)regex$1 @ vee-validate.js?d4ab:264_test @ vee-validate.js?d4ab:1583(anonymous function) @ vee-validate.js?d4ab:1427validate @ vee-validate.js?d4ab:1426_inputListener @ vee-validate.js?d4ab:1892
vee-validate.js?d4ab:264 Uncaught Syn

[2016-11-01 06:44] yingnierxiao opened #78 "Added support for dynamic item ？？"
[code]
[code]

[2016-11-01 09:28] BrandonSurowiec commented on #78
Would be cool. Check out the response for the same request here: https://github.com/logaretm/vee-validate/issues/76

[2016-11-01 10:50] logaretm commented on #77
Your regex contains pipes and colons: which is problematic in the html and will conflict with parsing rules. there is a work around mentioned here #64

[2016-11-01 17:29] xereda opened #79 "Geolocation support"
Hello,

I'll leave a validation suggestion. Today it is common to use the type of GeoJSON data where the coordinates of a geo spatial location are informed. It would be interesting to have a validation for this field type.

Rules:

Longitude: values between -180.000001 and 180.999999

Latitude: values between -85.000001 and 85.999999

What is the feasibility of implementing these rules?

I appreci

[2016-11-01 17:31] xereda commented on #79
If this is not possible, please forward which current validations can be used to meet this rule !?

Thank you.

[2016-11-01 17:39] xereda commented on #79
I tried to use the decimal, but it does not allow negative number.

[2016-11-01 19:19] logaretm commented on #79
I missed this. I need to support negative numbers into existing rules, thanks for your feedback and sorry about that!

[2016-11-01 19:30] logaretm commented on #79
On a side note, doesn't the `between` rule work for you? it should support negative numbers as well and I think its very suitable than the decimal rule.

`between:-180.999999,180.999999`

[2016-11-01 19:43] xereda commented on #79
But he does not accept that the first decimal is zero.
bug?

[2016-11-01 19:46] xereda commented on #79
invalidated by the api, but it would be correct: -179.000001
Try typing 179.0, you will see that the api invalid.

[2016-11-01 20:01] xereda commented on #79
It works!

tks

[2016-11-01 20:08] logaretm commented on #79
Great, I just fixed the decimal rule to allow negative numbers, thanks very much for the feedback!

[2016-11-01 20:28] #79 closed

[2016-11-01 20:29] #77 closed

[2016-11-01 20:57] andreaspfurtscheller opened #80 "FieldBag not working as expected"
Hello,

when I try to access the flags of a field using the method accessors, they don't update when their underlying value changes. However, the errorBag **does** update. Is this behaviour expected, or am I missing something?

[code]

Regards,
Andreas

[2016-11-01 21:16] AlphaB opened #82 "Dynamic form validation"
Hi! I can't figure out how to configure validator for dynamic form like this one https://jsfiddle.net/92Lmjs6m/

[2016-11-01 21:45] logaretm commented on #80
Possibly because the computed properties are not able to pickup the changes in the `fieldBag` object. Because its contents are objects which is being added and removed which makes it harder for vue to notice. It works if you the methods directly in the HTML like this [fiddle](https://jsfiddle.net/otmkey5c/).

The errors object however is implemented as a simple array wrapper, which is easy for Vue

[2016-11-01 21:52] logaretm commented on #82
I'm not sure about the issue, The fiddle didn't include the plugin and you didn't install it, I updated the fiddle https://jsfiddle.net/92Lmjs6m/1/

Let me know if that was the issue or something else doesn't work properly.

[2016-11-01 22:04] andreaspfurtscheller commented on #80
Ok, it seems to work when no Promises are used, but take a look at my [fiddle using Promises](https://jsfiddle.net/apfurtscheller/xLp2d3dc). The validation is going nuts in this case.

[2016-11-01 22:14] AlphaB commented on #82
Sorry, seems like I forgot to save changes, here is updated fiddle https://jsfiddle.net/92Lmjs6m/9/
In my form I have 1 select and 2 inputs. Input visibility is bounded to selected value. When I select `Option1` I will get proper validation error. But if then I change selected value to `Option2` I wouldn't get any validation error.

[2016-11-01 22:55] logaretm commented on #82
Well that is weird it seems whatever input that gets displayed first gets to be validated, the other doesn't.

I will look more into it tomorrow, I think I have a workaround in mind. Thanks for the feedback.

[2016-11-01 22:59] AlphaB commented on #82
Thanks! Hope this will help.

[2016-11-01 23:04] logaretm commented on #80
Seems like the validation result is shifted for some reason, I will look into it.

[2016-11-01 23:10] logaretm commented on #80
Okay if you use the binding syntax it should work: https://jsfiddle.net/xLp2d3dc/4/

Still need to figure out why its not working if not bound.

[2016-11-01 23:57] nilgradisnik opened #83 "Unsafe URL validation regex"
I discovered by accident that the [regex used for URL validation](https://github.com/logaretm/vee-validate/blob/master/src/rules/url.js#L2) is unsafe. Try running the following in your browser console:
[code]
This **will** cause your CPU to spike and probably crash your browser. I'm not sure what is it about that particular URL but it seems to be triggering some sort of bug.

Please consider using

[2016-11-02 00:16] logaretm commented on #83
Okay I guess you have a point there, I have been considering this for a while, will switch before the full release probably.

[2016-11-02 00:28] nilgradisnik commented on #83
No problem. I'm not sure if validator.js will cover all your use cases, but you can write those separately if necessary.

[2016-11-02 00:30] logaretm commented on #83
Yep, I can import rules individually as needed which shouldn't increase the size much. I will mix and match but I will try to use as much as possible from `validator.js` since its very reliable.

[2016-11-02 14:43] arlando opened #84 "Dynamic Form Scope"
Is there a way to give a form a dynamic scope?

Example:

[code]
Each form will receive an id of index. It seems like it doesn't evaluate the value.

[2016-11-03 00:39] logaretm commented on #84
Currently its not possible since the elements are only evaluated upon binding, that might be possible however if we implement a dynamic attachment for elements like mentioned here #78

The idea is, every time the input is validated, Its data gets re-evaluated to update scopes and names, the only issue would be if the input type changes as well.

[2016-11-03 09:50] renedekat commented on #48
@logaretm Nope, the double binding seemed to cause the issue, which was my mistake.

[2016-11-03 10:43] logaretm commented on #48
Great Thanks!

[2016-11-03 10:43] #48 closed

[2016-11-03 12:12] xereda commented on #47
It will be added in the documentation?

[2016-11-03 12:30] logaretm commented on #47
Yep, sorry about that I'm having trouble finding the time for it, should be up later today.

[2016-11-03 19:14] logaretm commented on #47
@xereda should be updated now.

[2016-11-03 19:23] xereda commented on #47
http://vee-validate.logaretm.com/examples#flags-example

very nice!

tks

[2016-11-03 22:12] logaretm commented on #83
OK I added validator to the dev dependencies and I replaced some rules with their implementation, this should allow new rules to be imported from validator.js as well.

[2016-11-03 22:12] #83 closed

[2016-11-04 01:20] arlando commented on #84
Thank you. I am still new to the vue community, but please let know if there is any way I can help. I can probably help test :).

[2016-11-04 08:43] #71 closed

[2016-11-04 11:06] xereda commented on #52
Which version will have available the rule "alpha spaces"?

[2016-11-04 11:35] logaretm commented on #52
The latest tags should have it for both versions (2.0.0-beta.14 and 1.0.0-beta.9)

[2016-11-04 12:08] xereda commented on #52
I have a last version (beta 14):

[code]

But, errors occur:

[code]

![captura de tela 2016-11-04 as 10 07 14](https://cloud.githubusercontent.com/assets/14337850/20005005/a735d1dc-a276-11e6-8837-20d4ddeb29f5.png)

[2016-11-04 12:10] xereda commented on #52
I am using the "alpha_spaces" rule.

[2016-11-04 12:21] logaretm commented on #52
That is weird, are you sure you don't have a typo?

this fiddle uses the latest version: https://jsfiddle.net/h32qekps/

[2016-11-04 13:05] xereda commented on #52
It's working so. I must have done something wrong.

We have another question now: In Portuguese, we use accented characters for names.

[2016-11-04 14:29] logaretm commented on #52
I would be happy to take a look if you send me the relevant parts of your project.

So you are saying that the alpha rules don't support non-english characters, I can fix that since I will be switching to the validator.js soon.

[2016-11-04 14:38] max76 opened #86 "child component validation"
Hi,

Do you have any examples of programatically validating fields in child components?

What would you ideally do in the parent component and what in the child?

Would the following be in the parent or child? Or could both cases work?
[code]

All best,
Max

[2016-11-04 18:00] logaretm commented on #86
Check my response here #56 it might be helpful.

[2016-11-04 19:54] xereda opened #87 "Field updated with Watch"
The "Vee-validate" is not updating the error flags, in the fields that are updated by watch.

Jackson

[2016-11-04 21:30] logaretm commented on #87
Can you create a fiddle demonstrating the issue?

On a side note, any changes to the flags are not being picked up properly by Vue due to the fact that its adding/remove properties from objects. a fix is in progress.

[2016-11-05 07:39] Stephen2 opened #88 "Control timing/validate on blur only?"
Hey great library, much prefer over other Vue validation libraries to use.

Is it possible to validate only on blur, not per keystroke?  for e.g., and email field the result is not great when validating on keystroke

[2016-11-05 08:02] max76 commented on #86
Hi,

I solved it the following way:

**parent component**
triggers validation programmatically using $broadcast

**child component**
`import { Validator } from 'vee-validate';`
when validation is triggered from the parent component, the child component will $dispatch the validation results to the parent (validator errors). Then, the parent can proceed when there are no errors in the child componen

[2016-11-05 08:32] justanne opened #89 "Dynamic component"
Hello, still a learner here. I'm using Vue 1.0 and got a code where within a `for` loop (parent component) resides a radio input component that generates dynamic `name` appending numbers at the end for every increment: e.g. `radio_1`, `radio_2`, and so on - via `computed` property.

The `for` loop enables the user to dynamically add/remove the components on the form. So when I click the add button

[2016-11-05 08:39] logaretm commented on #86
OK glad it worked.

[2016-11-05 08:39] #86 closed

[2016-11-05 08:41] logaretm commented on #88
Its not implemented yet, but I guess it can be easily achieved.

[2016-11-05 08:43] logaretm commented on #89
Can you create a fiddle for this? So I can test out few stuff, thanks!

[2016-11-05 10:23] justanne commented on #89
I have yet to check why the `name` isn't working on my source while the basic fiddle does hmn. Here it is: https://jsfiddle.net/azj97xn9/

[2016-11-05 17:08] murbanowicz opened #91 "Improvement suggestion - fields should return array of scopes"
Hi,

I think that `fields` should return array/list of scopes and there all attributes which `fields` currently have.
It is important as it is easier e.g. to set button as disabled if particular scope `this.fields.SCOPE_NAME.passed()`

[2016-11-05 17:26] BrandonSurowiec commented on #83
@logaretm What do you think about including the credit card validation that `validator.js` has?

[2016-11-05 18:31] renedekat opened #92 "TypeError: undefined is not an object (evaluating '_ref.context')"
Hi,

After using vee-validate successfully using the CDN, I am now trying to use it with Laravel 5.3 which uses Elixir. However, I am running into an issue.

I am importing the library as follows in bootstrap.js

[code]

That works fine, and without any validation I have no JS errors in my console.
The moment I add a simple input field with v-validate to my page I get the error as shown in the tit

[2016-11-05 18:40] renedekat commented on #92
I think this might be caused by me using Vue 1.x with your @next version. Updating to VueJS 2.0 now.

[2016-11-05 19:04] #92 closed

[2016-11-05 20:01] murbanowicz opened #93 "Locale - unexpected token export"
Hi,

Probably I am doing something wrong but I try to use documentation which is slightly not clear about locale...

[code]

and then I am getting error in browser:
`unexpected token export` in locale file.

[2016-11-05 20:23] murbanowicz opened #94 "Field should become dirty after using 'tab'"
All other validation engines use this approach.
Vee should do the same as it makes sense that if user will tab from e.g. first field, he has to get error that he skipped required field.

[2016-11-06 00:16] logaretm commented on #83
Sounds good, after including validator.js its pretty much open season. but I prefer I should focus on fixing the bugs, any help would be appreciated, you can implement it if you want.

[2016-11-06 00:20] logaretm commented on #91
So far I didn't implement the scopes support within the fields, It will require a bit more organizing and refactoring. currently I'm struggling with making those flags reactive so Vue can notice them, once I'm finished with that I will proceed with supporting scopes on that end. Thanks!

[2016-11-06 00:24] logaretm commented on #92
You are correct, @next is only for Vue 2.0

[2016-11-06 06:29] Stephen2 commented on #88
That would be great :)

[2016-11-06 10:34] Stephen2 commented on #94
This PR does it, if @logaretm is happy with approach?

https://github.com/logaretm/vee-validate/pull/96

[2016-11-06 10:35] Stephen2 opened #97 "Consider using data- attributes prefixed in some way"
To avoid potential collisions... maybe data-vv-:

- data-vv-scope

- data-vv-as

etc...

[2016-11-06 11:17] Stephen2 commented on #88
Closed by https://github.com/logaretm/vee-validate/pull/96 if acceptable

[2016-11-06 13:46] davestewart opened #99 "Update docs to say "include name attribute in the field""
I don't use names on my AJAX-submitted fields, so I couldn't get it working until I realised this!

Seems fantastic so far though. A world away from the completely awful VueValidator.

Thanks!

[2016-11-06 14:58] logaretm commented on #97
I thought about it before and I guess we should do it at some point.

[2016-11-06 15:01] logaretm commented on #93
It seems like you are not converting the locale from ES6 to ES5, the locale files are ES6 modules, you need to convert them or bundle them with a build tool like `webpack` or `rollup` to be able to consume them, using them as is will not work in the browser.

I will update the docs since it caused a confusion, sorry about that.

[2016-11-06 15:04] logaretm commented on #99
Sorry about that, I have a few questions so I can doc it better:

Those fields are not bound by a Vue, correct? Nor they have a field name attribute?

On a side note you if you would like, you can help me with the documentation here: https://github.com/logaretm/vee-validate-docs

[2016-11-06 15:07] murbanowicz commented on #93
I am using webpack (within Quasar framework project)

I will appreciate updated docs!

From: Abdelrahman Awad [mailto:notifications@github.com]
Sent: Sunday, November 6, 2016 3:02 PM
To: logaretm/vee-validate <vee-validate@noreply.github.com>
Cc: Marek <marekurbanowicz@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [logaretm/vee-validate] Locale - unexpected token export (#93)

It see

[2016-11-06 16:43] logaretm commented on #93
probably your webpack config is ignoring the `/node_modules/` when loading them via babel. I will try to take into account and check possible workarounds.

[2016-11-06 17:54] davestewart commented on #99
Hey there,

Each one has a v-model, but bound to a sub-object:

[code]

As mentioned, it was only when adding the `name` attribute that things started to work :)

[2016-11-06 21:44] logaretm commented on #99
Oh Ok, thanks!

[2016-11-06 22:05] #99 closed

[2016-11-07 08:36] justanne commented on #89
Finally figured it out! Can't believe it was just this simple: moving the `Vue.use(VeeValidate);` on top before everything. My setup was each component file were compiled with the main `new Vue` file at the bottom most. So I have to move the `VeeValidate` on the first called component. All the warnings and errors disappeared and validation worked.

Thanks for looking into this!

[2016-11-07 08:36] #89 closed

[2016-11-07 10:29] logaretm commented on #89
Sorry I couldn't help, but I'm glad it worked. I normally install vue plugins as soon as possible before registering any components to avoid these kind of issues.

[2016-11-07 21:15] danielsalles opened #101 "Validation depending on another field"
How would I do the validation and password === passwordConfirmation?

I want to avoid using v-model, I wanted to know if the vee-validate has a solution for that.

[2016-11-08 02:30] BrandonSurowiec commented on #83
Sure, if I see a bug I think I can fix, I'll give it a shot.

[2016-11-08 09:58] yusupprog commented on #76
When it will be implemented, cause it's very important feature?

[2016-11-08 12:48] logaretm commented on #76
In a couple of days, I'm kind of stressed at work atm.

[2016-11-08 12:50] logaretm commented on #101
There is already a rule called "confirmed" which matches the validated field value with the target field name, you can check its implementation [here](https://github.com/logaretm/vee-validate/blob/master/src/rules/confirmed.js) if you are looking to create something custom or similar.

[2016-11-08 15:03] yusupprog commented on #76
Thank you!For now implemented it using timeout.

[2016-11-09 09:28] shakee93 commented on #56
Thanks for the great plugin. little doubt. how am i supposed to check if there are any errors in child component `this.errors.any()` returns false currently. any workaround for this ?

[2016-11-09 10:03] sproogen commented on #56
@shakee93 I have just added an example Gist demonstrating the principle of how we passed the error bag bag to the parent element.

https://gist.github.com/sproogen/147d75db261505e8a558a7fd11a20551

@logaretm might have another suggestion on how this could be done though?

[2016-11-09 11:22] logaretm commented on #56
@sproogen that is pretty much how I would have handled it, yours are even cleaner. Sorry I couldn't create an example for this, thanks for the gist!

[2016-11-09 11:28] sproogen commented on #56
I had already done it, so I thought I would pull that out and stick it in the gist.

Feel free to modify it and use is as an example in the future.

[2016-11-09 22:15] pbastowski opened #103 "data-scope prevents initial validation"
I have created a form with one text input, which has two validations, please see below.

### Example 1 - without `data-scope`

[code]

Without `data-scope` the above validations run immediately when the page is loaded and the error message is displayed accordingly. Also, I dump the `errors` object below the form to see what errors are set, which looks like this:

[code]

### Example 2 - with `data

[2016-11-09 22:21] pbastowski commented on #84
I would very much like to see this implemented too. Coming from AngularJS, I am used to creating repeating forms with validations that take care of the scope automatically.

Thanks.

[2016-11-10 03:32] hootlex commented on #80
Being able to use `errors` in computed properties or to pass them to a component would be useful.
This way you could create an `ErrorComponent` where the errors would be styled and displayed appropriately.

For example: `<form-error :errorBag="errors" element="user.dog_name" scope="form-3"></form-error>`

[2016-11-10 23:14] tquiroga opened #105 "Uncaught RangeError: Invalid array length"
I've got this error when importing with ES6 and using: `Vue.use(VeeValidate);` I'm using Vue 2.0.5 and vee-validate 2.0.0-beta.14. All I do is:
[code]

The stack trace basically says that Vue can't create the component.
[code]

Is there is a mismatch between my version?

[2016-11-11 01:26] logaretm commented on #105
Can you provide the component code?

[2016-11-11 05:00] eberkund commented on #52
However sometimes names contain characters other than alpha and spaces.

It should be alpha, spaces, hyphens, and apostrophes.

[2016-11-11 10:17] renedekat opened #106 "1.0.0-beta.9 break attach method"
Hi,

When using 1.0.0-beta.9 the attach method doesn't work properly. Detach works fine though.
I switched back to 1.0.0-beta.8 and got the expected behaviour.

E.g.:

this.$validator.attach('some_field', 'required|numeric');

It will attach it, but not validate.

Using it like this
[code]

[2016-11-11 11:29] tquiroga commented on #105
I've isolated the problem. In a child component I have:

[code]

If I rename my array `errors` to `somethingElse` it works when using VeeValidate as global component. If I don't use VeeValidate, I can name my array `errors` without any problem. So, it's seems like name is conflicting somehow.

[2016-11-11 11:30] garlian opened #107 "Using only one rule doesnt trigger validation"
If I use:
` ... data-rules="required" ...`
no validation will be triggered.

But if I use:
`... data-rules="required|" ...`
validation will be triggered, is this considered right?

[2016-11-11 12:46] javisperez commented on #88
This would be great ! 💃

[2016-11-11 15:17] logaretm commented on #107
Nope, I will investigate it, thanks!

[2016-11-11 15:20] logaretm commented on #105
It is conflicting indeed, you can either rename yours, or provide an alternative name to be used by the plugin http://vee-validate.logaretm.com/#configuration

[2016-11-11 15:20] #105 closed

[2016-11-11 15:21] logaretm commented on #88
I'm closing this since It is implemented by #96 It might see some modifications later.

[2016-11-11 15:21] #88 closed

[2016-11-11 15:25] logaretm commented on #103
The examples in the documentation doesn't bind the inputs, so the initial validation wouldn't work regardless.

But I will take a look at your examples, thanks!

[2016-11-11 15:28] logaretm commented on #52
@eberkund I guess you are right, we only added the alpha_spaces to be a basic form of it, it seems like names can have a huge range, you can use the regex rule in the meantime.

[2016-11-11 16:08] nikolaynesov opened #108 "Validate outstanding data"
Hi,

Is there a way to validate outstanding data from the box? I mean the data that is not a form field (something that is coming from other components like [vue-multiselect](https://github.com/monterail/vue-multiselect), without using tags etc.

Right now I am doing something like:

(in methods)
[code]

Looking for more elegant way. Also is it possible to use internal plugin validators in my comp

[2016-11-11 17:00] ErickPetru opened #109 "Autofocus invalid fields"
It'd be very nice to have some way to autofocus invalid fields. Since a custom directive like `v-validate` can control the DOM itself, I think it'd be feasible to do.

[2016-11-11 19:08] javisperez opened #110 "Set custom error message on validation time?"
Hi,

I have a question, is there a way to set a custom error for a given field in validation time? i mean, if a make a request to a backend, and the backend returns an error in a field, i would like to display that error in the same validation error for that field, is that possible?

Thank you, great library btw!!

[2016-11-11 19:14] javisperez commented on #110
Nevermind! i did it with

[code]

[2016-11-11 19:14] #110 closed

[2016-11-13 00:28] logaretm commented on #108
I'm trying something that should allow validating vue components directly, if said components support `v-model` for Vue. I'm not sure about the best way to achieve what you are doing, but you can have a hidden field bound to the same value of that component, and validate that hidden field instead with the plugin.

I fixed that note in the doc, thanks for spotting that one!

[2016-11-13 00:32] logaretm commented on #109
That sounds like a good addition to me, but we would need to take into account async validations, as we don't want to focus multiple times if multiple validations fails, just the first one or so. then ignore the async validators failing if they take too long.

I hope I can implement it soon, any help is appreciated. Thanks for the feedback!

[2016-11-13 00:33] logaretm commented on #106
I'm sorry I don't understand the problem clearly, can you create a fiddle to showcase the problem? Thanks!

[2016-11-13 00:43] logaretm commented on #107
Well its working as expected in my tests, only note is `required|` with a trailing pipe will cause an error. can you create a fiddle for this?

[2016-11-13 00:45] logaretm commented on #101
I'm closing this, feel free to re-open if I didn't understand your issue correctly.

[2016-11-13 00:45] #101 closed

[2016-11-13 06:35] HavenZhang opened #111 "Unable to get property 'rules' of undefined"
vee-validate: 2.0.0-beta.14
browser: IE 9

this.vm.$validator.attach(this.fieldName, this.el.dataset.rules, this.el.dataset.as);

IE < 11 does not support el.dataset

[2016-11-13 21:34] Stephen2 opened #113 "v-validate on a <select> element means you can't use keyboard to interact"
- can't use the down arrow which usually starts cycling through options
- can't use the "typeahead" kind of functionality to pick the first option that matches what you're typing (e.g., pressing "v" will select the first option that starts with "v")

[2016-11-13 23:04] logaretm commented on #111
Will probably have to add an alternative way to get the values, like getAttribute or something similar.

[2016-11-13 23:29] Stephen2 commented on #113
Narrowed this down to: validator.js, validate(name, value, scope) function..

`this.errorBag.remove(name, scope);`

If I comment that line out, I can interact with keyboard again...  But can't figure out why this is causing problems...

[2016-11-14 15:39] almcewen opened #115 "Validating some urls causes Chrome to crash"
I had an issue validating some urls in chrome. An example was:
https://rekry.finavia.fi/rekry/jsp/joblist/ja_public_job_advertisement.faces;jsessionid=56DF9534E6674C67D0DA1519A00D9B9E.skillsworker?lang=fi_FI&id=3641&unitId=470&innerServe

Not the friendliest of urls but it would crash due, I think, to some recursion/ loop issues in the regex or validation implementation.

I solved it with a pretty

[2016-11-14 16:42] rosemalejohn commented on #108
Regarding with this issue. I made a fallback component which accepts props like `validator`, `name`, `rules` and `value`. Now what this component do is add a field into the injected validator object. And watch the value property. Now if this change, it will then call the validator's validate method with name and value params.

[2016-11-14 20:03] jgbneatdesign opened #117 "Get specific field error for specific rule"
I was banging my head around with this. So the thing coming from Angular 1 I used to set a special message for different type of errors in a field. Let's say I have an email input with data-rules="required|email". And if I want to show a message for the email rule I can't just check for that rule in errors.collect('mail').email or errors.collect().email.email. What I got with errors.collect() is a

[2016-11-14 22:10] logaretm commented on #115
Well it was noted here #83 that the current URL validation isn't good. I replaced it with the validator.js validation function. It should be up in the next release.

[2016-11-14 22:16] logaretm commented on #117
I'm using arrays for the error objects, because of how Vue detects changes, I will try try to improve it as I learn more about how the reactivity works. Thanks for the feedback!

[2016-11-14 22:21] logaretm commented on #113
Well it removes the errors before validating since the errors object should be clean, I will create a fiddle and look into it. thanks!

[2016-11-15 01:27] Stephen2 commented on #117
Thanks, yes please

[2016-11-15 04:14] jgbneatdesign commented on #117
Alright thanks! But I made some mistakes above. I mean I was somewhat right in theory. But in practice I seem to have to create a custom validation message for each rule in order to get each message separately because I can't a specific message using errors.collect('email')[0]. I could loop through them, but it would just give the stock messages. So I guess custom validation messages is what I nee

[2016-11-15 05:57] jgbneatdesign commented on #117
And I follow per the documentation but I can't even change the locale to french. I'm using ES6 by the way. When the locale is set to 'en' it works fine, but when it's in 'fr' it says "vee-validate: You are setting the validator locale to a locale that is not defined in the dicitionary. English messages may still be generated.". I don't know whether I'm still going to use that plugin anymore, even

[2016-11-15 13:42] etune opened #118 "Validate custom UI components"
Is it possible to validate custom-made UI form components that wrap regular input elements with their own styles or must you use default HTML form elements?

For example, could I validate a custom component like this:
[material-ui-vue/checkbox.vue](https://github.com/JackGit/material-ui-vue/blob/master/src/components/forms/checkbox.vue)

[2016-11-15 15:02] #115 closed

[2016-11-15 15:03] cristianstenico opened #119 "'confirmed' rule inside v-if"
I think I found a problem in case of field dependency ('confirmed', 'before', 'after' ) inside a v-if condition.
Since the listener of any dependency field is attached when 'validatorReady' event is emitted, all the inputs injected in the DOM after that event won't get any listener.
I think the error is in this block:
[code]
Or maybe I'm missing something that should make my code working.
In my ca

[2016-11-15 15:15] erikwestlund opened #120 "Collision with fields data -- option to rename like w/ errorBag?"
The plugin has the option to rename the errorBag to avoid collisions.

I have collisions with "fields" from another component.

Would be useful to rename this.

[2016-11-15 18:53] logaretm commented on #120
It actually is renameable, you need to pass `fieldsBagName` option. you can use it on Vue 2.0 version. I left it out of the documentation because Vue 1.0 doesn't work as well. I will document it once I support both versions.

[code]

[2016-11-15 18:56] logaretm commented on #118
I'm working on a draft right now for the support for custom components, your component will need to support the `v-model` directive in order for it to support validation, which boils down to:

- The component accept a value attribute (property).
- The component should emit `input` event whenever the input changes, it should pass the value in the event.

Probably will be tagged by the end of this w

[2016-11-15 19:05] logaretm commented on #117
I'm sorry about that, probably I missed something about locales, there is a few things you need to consider:

- If you are importing the locales from the dist directory, then you should include them in the babel transpile process since they are just an ES6 modules. You can download the file individually and integrate it in your project files instead.

- The locale example in the docs uses a differ

[2016-11-15 19:11] logaretm commented on #119
Those `field dependent validators` require the existence of the field when the directive is being bound, so they can keep sync between the validated input and the target input.

I probably should rethink how those validators should work, maybe they could have a `setUp` method that attaches the necessary listeners, and is checked before validation. There are probably better approaches, feel free to

[2016-11-16 04:46] BrandonSurowiec commented on #111
@logaretm Do you want me to go through the entire code base to replace every instance of `.dataset` with a `.getAttribute('data-')` calls to support IE9?

[2016-11-16 11:41] ralphbert opened #123 "Rules not removed when using v-for or v-if"
I have the following template:

    <fieldset v-for="partner in selections.partners">
      <input
          type="hidden"
          v-model="partner.age"
          name="Age of partner"
          v-validate
          data-rules="required"
          data-scope="form-2">
    </fieldset>

If I add a partner-object into the array the validator validates the input as expected. But if I remove it the v

[2016-11-16 13:54] Ipsaous opened #124 "data-rules "url" crashes browser ( Chrome and Firefox )"
Hi ;).

On some url ( with # at the end apparently ), i'm able to crash both chrome and firefox :/

Here is a jsfiddle to reproduce the issue 👍. I don't think that i'm doing something wrong but i'm not an expert ;)

https://jsfiddle.net/2n9a3e24/3/

Thx for you're work ! ;)

[2016-11-16 14:34] BrandonSurowiec commented on #124
@logaretm switched to validator.js for url validation so the issue should be gone in the next release. Related issues: https://github.com/logaretm/vee-validate/issues/83 https://github.com/logaretm/vee-validate/issues/115

[2016-11-16 15:31] Ipsaous commented on #124
Thanks and Sorry ;). I just searched on open issues and not closed ones ;). i'll be more careful next time ! ;)

[2016-11-16 15:33] #124 closed

[2016-11-16 15:34] logaretm commented on #123
It should clean them up if the directive is unbound, I will take a look.

[2016-11-16 23:45] chris-griffin opened #125 "date_format not working"
First off, thanks for the great plugin and excellent documentation. date_format validation is not working for me. Here is a [jsfiddle with the issue](https://jsfiddle.net/1kL8cqyq/2/)

[2016-11-17 06:57] ralphbert commented on #123
I made an example for you:
1. increment the number of persons
2. make some errors (fill in names and remove them)
3. submit the form
4. reduce number of persons

The errors will stay for the fields which are already gone.

Example:
[JSFiddle](https://jsfiddle.net/ralphbert/c32osf9u/2/)

[2016-11-18 04:25] hootlex commented on #125
You have to include **moment.js** in order to work with dates.

[2016-11-18 04:28] hootlex commented on #74
@logaretm I am interesting in this feature too.

[2016-11-18 04:42] jgbneatdesign commented on #117
Hello! I integrate the locales I need in the resources/assets/js folder in the Laravel project I'm working on. So I don't the problem comes from my side. I did use the Validator.updateDictionary() metod the an object containing the new locales. Here's the code I used:

`import messages from './locale/fr';
import Vue from 'vue';
import VeeValidate, { Validator } from 'vee-validate';

Vue.use(VeeVal

[2016-11-18 04:46] jgbneatdesign commented on #117
Note that I did uncomment the updateDictionary part. I commented it because it wasn't working properly. And concerning the fix you said would not be difficult to implement, please do it. Because I need this validator in my project. It's kind of weird to get back to Angular for such lack of basic functionalities. I think the Vue community can do better. Especially for beginner-intermediate develope

[2016-11-18 06:01] chris-griffin commented on #125
ah thanks @hootlex

[2016-11-18 06:01] #125 closed

[2016-11-18 18:37] logaretm commented on #74
@hootlex Its proving hard to tackle, the problem is the values are hard to collect, as we need to move away from making an event trigger to validate those values, we need to get the values and use the typical `validateAll` API and return a promise.

the problem is how the values are getting collected, we can save them on every validation attempt, but that wouldn't workout nicely especially if the

[2016-11-19 01:01] logaretm commented on #67
fixed by #121

[2016-11-19 01:01] #67 closed

[2016-11-19 13:12] Dortamur opened #130 "Need a way to "remove" a custom validator"
I'm trying to use a Custom Validator in a Vue Component, and following the Coupon example, I am extending the Validator in the created() phase of the component.

This works the first time the Component is shown, but if you navigate to a route without the Component, then navigate back, it calls created() again, and throws the ValidatorException.

I could try catching the exception, but my validator

[2016-11-19 14:02] Dortamur opened #131 "Custom validator using Promise always returning error message"
I'm returning a Promise in a custom validator, and it's always showing the error message, even when the validation should be correct.

I checked vee-validate.js, and around line 1830 where it handles a return object response, it is always adding the error to errorBag, and ignoring if the result is actually valid or not.

[2016-11-19 22:06] logaretm commented on #130
typically you need to extend the validator at your app startup script, like in your main entry file, that way it will be available as early as possible and you don't have to remove it because you attach it once.

The docs example actually does this, but for demo sake It needed to include it in the code example.

[2016-11-19 22:55] logaretm commented on #97
Done in [this commit](https://github.com/logaretm/vee-validate/commit/e4acc64dcc90f5cdc5cee53621af4e547fa0dd8b), used `vv` prefix, I'm open to better suggestions.

[2016-11-19 22:55] #97 closed

[2016-11-20 01:20] logaretm commented on #117
I'm not sure if this is the issue but I think you had a typo here:

[code]

and here is a working demo: http://www.webpackbin.com/EkuLkyqZG

Back to the main issue, I have [added](https://github.com/logaretm/vee-validate/commit/229ce30668d9191f21f63e8cb7d976591ea923ac) a new method called `firstOf(field, rule, scope?)`, should be up in the next release.

[2016-11-20 01:20] #117 closed

[2016-11-20 01:22] logaretm commented on #93
Well you should add the locale you are going to lose to your project files, importing them from `node_modules` could cause issues depending on your webpack config, this is a  basic example showcasing this: http://www.webpackbin.com/EkuLkyqZG

[2016-11-20 01:22] #93 closed

[2016-11-20 02:23] jgbneatdesign commented on #117
Good job @logaretm! Thanks for your work.

[2016-11-20 11:31] murbanowicz commented on #93
Hi,
Thanks for the webpackBin but I would say it is not as it should be.
This way force us (users) to copy locale from package to project folder and then use it.
It should not be like that as then we are loosing updates etc.

It definitely has to somehow build it during your package build and then just import one which is needed.

I would help but I am not too much into packages so I don't know ho

[2016-11-20 12:08] logaretm commented on #93
I agree, I'm kind of not sure how to expose the locales in production code, mostly due to naming conventions, I will read a bit about that.

[2016-11-20 13:25] denjaland opened #132 "Change locale on all validators at runtim"
Hi guys,

I'm sorry to put in an issue - I didn't find any forums or other means of contact, but I'm having an issue with getting the validation error messages translated at runtime.

I can setLocale() on FUTURE validators, but we're having a translation dropdown on all pages which changes the languages on the fly, and works for the entire app now, but we can't get it to work on the validators tha

[2016-11-20 23:16] logaretm commented on #132
I agree, I think this is a very valid use case, I will look for ways to achieve that.

[2016-11-21 00:11] logaretm commented on #118
Okay, basic support is implemented [here](https://github.com/logaretm/vee-validate/commit/21e1f8534755c0f785cfb4bfe376a7fc3afc5f4f)

Your component needs to **emit** an `input` event when the value needs to be evaluated/validated, pretty much like adding `v-model` [support to your components](https://vuejs.org/v2/guide/components.html#Form-Input-Components-using-Custom-Events).

Also your componen

[2016-11-21 00:11] #118 closed

[2016-11-21 00:24] logaretm commented on #108
(Check here)[https://github.com/logaretm/vee-validate/issues/118#issuecomment-261817224]

Note that you may want to use the new `data-vv-name` attribute since vue-multiselect does not allow accepting a name attribute without modifying the original component. Feel free to check it out and provide a feedback, thanks!

[2016-11-21 00:24] #108 closed

[2016-11-21 00:41] BrandonSurowiec commented on #84
Would it make sense for the code to assume that all of the fields within a <form> tag are in the same scope unless explicitly specified? Can anyone think of a scenario of when this wouldn't be the case? It would be nice to get rid of as many extra scope declarations as possible...

[2016-11-21 05:10] logaretm commented on #94
I'm closing this since it is implemented thanks to @Stephen2

It should be up in the next release sometime soon.

[2016-11-21 05:10] #94 closed

[2016-11-21 10:46] yusupprog commented on #76
Is there any way to change field only message?The ${field} must be a valid value.
Here.

[2016-11-21 14:05] BrandonSurowiec commented on #76
@yusupprog Try `data-as`: http://vee-validate.logaretm.com/localization#attributes-data-as

[2016-11-21 16:59] brfreitas opened #134 "Locale Problem"
I'm have problem with locale. I'm putting
`
import VeeValidate from 'vee-validate'
Vue.use(VeeValidate, { locale: 'pt_BR' })
`
but its not working, the validator shows "en" mensages

Whats wrong?

[2016-11-21 17:06] yusupprog commented on #76
@BrandonSurowiec Thank you.That is exactly what I needed.By the way nice plugin.Easy to work with.Thanks for work

[2016-11-21 19:41] sobolevn opened #135 "Email validation rule is incorrect"
My corporate email is considered invalid.

For example `contact@wemake.services`:
<img width="313" alt="2016-11-21 22 40 29" src="https://cloud.githubusercontent.com/assets/4660275/20497773/8d42ee7c-b03b-11e6-97b4-b19131278748.png">

But it surely is: [wemake.services](http://wemake.services)

[2016-11-21 19:59] BrandonSurowiec commented on #135
This has already been fixed :) A new release hasn't been tagged yet, but the email validation has been replaced with one from Validator.js.  (https://github.com/logaretm/vee-validate/commit/c3d7f5188fbeadfb7e97a0fb082dab0a145e33ff)

If you try your email on this page, http://validatejs.org/examples.html , it should pass. Thanks for the report!

[2016-11-21 20:01] sobolevn commented on #135
Thank you for quick reply! Looking forward to see the new release with russian messages!

[2016-11-21 20:35] logaretm commented on #134
The locales are not installed by default, you will need to import it, and merge it with the dictionary before using it. you might need to include the locale file inside your project files if you are excluding `node_modules` from babel or whatever.

take a look here: http://www.webpackbin.com/4yeKKBh-M

[2016-11-22 09:17] luqingxuan opened #138 "does it support v-for list validate"
for example, list data: [{name: ''}, {name: ''}],
\<input v-for="it in list" name="" v-model="" data-rules="required" \/\>
i don't know how to continue...

[2016-11-22 09:34] luqingxuan commented on #138
`<div v-for="(it,index) in list" :class="{row:true, 'form-group':true, 'has-error': errors.has('name'+index)}">
                    <label class="col-sm-2 control-label" for="name">Name：</label>
                    <div class="col-sm-9">
                        <input id="name" v-validate :name="'name'+index" data-rules="required" class="form-control" v-model="it.name" />
                        <

[2016-11-22 11:42] brfreitas commented on #134
Thanks a lot!
This work for me.

[2016-11-22 11:42] #134 closed

[2016-11-22 19:52] logaretm commented on #138
well you don't have to do anything special, but there might be unfixed problems mentioned here #123

[2016-11-22 21:46] #111 closed

[2016-11-22 22:14] franckysolo opened #139 "Date format does not detect full date"
Hello,
first thanks for your works, it's a usefull plugin
i try to use data-rules date format with a full date but the validator seems not to detect
the time on date
[code]
I've got an error :
 La date de début de mission doit être au format DD/MM/YYYY HH.
i translate in english the date is not a valid format DD/MM/YYYY HH.
So the minutes and seconds are not detected when i put a valid date in the

[2016-11-22 22:17] BrandonSurowiec commented on #139
Thanks for the report. This issue has been fixed for the next release. :)
https://github.com/logaretm/vee-validate/pull/121

[2016-11-22 22:18] #139 closed

[2016-11-22 22:18] #135 closed

[2016-11-23 00:30] #74 closed

[2016-11-23 00:32] hootlex commented on #74
@logaretm did you manage to make it return Promise?

[2016-11-23 00:39] logaretm commented on #74
@hootlex yep, now the plugin does not rely on the events to trigger the validations, also `validateAll` will now always return a Promise regardless of what rules were used in the validation, which should make it more predictable/consistent.

however it currently does not throw or trigger rejections, which if implemented later will make it more natural to use and very clear, I want to be used like

[2016-11-23 00:43] hootlex commented on #74
@logaretm great job man! 👌
I have to refactor my projects to take advantage of this asap.

[2016-11-23 00:48] logaretm commented on #74
I forgot to mention that the master branch now serves the Vue 2.0 version, so those changes are not yet up on the Vue 1.0 branch.

[2016-11-23 00:51] hootlex commented on #74
It's okay, I am also talking about the Vue 2 version.

[2016-11-23 03:18] Stephen2 commented on #113
Not sure is this is vee-validate, but the above description is for Chrome.

For firefox, I can use the keyboard, but I can't use the mouse to select the option!

Nasty...

[2016-11-23 05:24] logaretm commented on #131
probably is fixed by this commit: https://github.com/logaretm/vee-validate/commit/25b5b28450dc2206be72790e4baead60e8202771

[2016-11-23 06:58] ansarizafar opened #141 "vee-validate not working with vue 2.1.0"
I am getting this error after creating a project with vue-cli and using the latest version of vee-validate

[code]

[2016-11-23 11:42] BrandonSurowiec commented on #141
By latest, do you mean **2.0.0-beta.14**?

[2016-11-23 12:05] #131 closed

[2016-11-23 12:07] BrandonSurowiec commented on #107
@garlian Are you able to create a fiddle so I  can repo and fix?

[2016-11-23 13:17] ansarizafar commented on #141
By mistake I had installed vee-validator without @next. Its working now.

[2016-11-23 13:17] #141 closed

[2016-11-23 14:45] garlian commented on #107
I'm short on time but I will try to setup a fiddle as soon as I can :-)

[2016-11-23 20:37] sobolevn commented on #39
I have faced this issue when rendering my app from server:

That's all I have for now. Version: `beta-14`

[2016-11-24 01:25] luqingxuan commented on #138
@logaretm i try to fix this problem u point out, but i am not familiar with this plugin, so i read source code, and try in my way, it is, here is my test code:
`<button type="button" @click="addRow()">Add</button>
                Errors:{{JSON.stringify(errors)}}
                <div v-for="(it,index) in list" :class="{row:true, 'form-group':true, 'has-error': errors.has('name'+index)}">

[2016-11-24 02:33] #132 closed

[2016-11-24 02:35] logaretm commented on #132
Okay, now the validators all share the same locale configuration since there is no logic behind having two different locales active at the same time:

[code]

[2016-11-24 02:56] logaretm commented on #138
You are correct, should be fixed here: https://github.com/logaretm/vee-validate/commit/adf6dc4d2c59c040a61fce88b8d1f3a87c3acc47

[2016-11-24 12:53] sobolevn commented on #39
@logaretm what data do you need to reproduce the error? Maybe I should create a repo for you?

[2016-11-24 12:59] fThues commented on #94
Thanks! Any idea when that might be?

[2016-11-24 13:19] sobolevn commented on #39
Solved. The issue was that when rendered server-side, there was no `this.errors` property.

So I have done a simple method:

[code]

Full source: https://github.com/wemake-services/razgrebaem.ru/blob/571da24b14e626f4861292b26b3684eb445b97d6/src/components/ContactForm.vue#L81

[2016-11-24 18:16] jgbneatdesign commented on #94
I'm still waiting for the next release. So much goodies should be in there.

[2016-11-24 20:18] Zumbala commented on #44
I have tried now several hours but cannot solve this issue.

I do excactly what is written, load the locale and set it within the dictionary and change it to nl.
Nothing happens.

I am using vue 2.x

Please deliver a working sample

[2016-11-24 23:36] logaretm commented on #44
There are a few considerations, you might need to download and include the locale file in your build, since usually webpack and babel configurations ignore the node_modules.

Here is a working example: http://www.webpackbin.com/4yeKKBh-M

[2016-11-25 00:36] #130 closed

[2016-11-25 07:05] LikeDege opened #142 "Array.from is undefined in Android, can somebody fix it?"
Array.from is not supported in Android

![image](https://cloud.githubusercontent.com/assets/12826345/20616878/615a9c46-b320-11e6-9b71-edc4160b269b.png)

[2016-11-25 07:23] luqingxuan opened #143 "decimal:0 is it a bug?"
\<input data-rules="required|decimal:0" \/\>

there is a error, with chrome console, please confirm if there is a bug?

[2016-11-25 09:48] logaretm commented on #142
You can use [Polyfill](https://polyfill.io/v2/docs/) which should add support for the function, we might provide a polyfill for it though in next releases.

[2016-11-25 11:38] logaretm commented on #143
I just pushed a possible fix for the issue, can you please confirm that the error message was related to RegExp error?

[2016-11-25 20:31] nddery opened #144 "No validation error for missing required field"
#### Versions:
- VueJs: 2.1.0
- Vee-Validate: 2.0.0-beta.14

### Description:
Not sure if this is by design or not but there is no validation error returned for missing required fields when calling `validateAll({ ... })`.

If `validateAll()` only validates the fields it's given, is there another method to run all attached validation rules, even on missing fields (especially useful for `required`)

[2016-11-26 02:50] logaretm commented on #144
Well you are not using the `v-validate` directive on your elements, if you do it will work just fine, the issue is when using the validator manually, the validator does not know how to get fresh values from those inputs, so you are going to have to pass them manually, in other words when not using the directive you should always explicitly pass the fields to be validated.

[code]

but I think you

[2016-11-26 19:12] #143 closed

[2016-11-26 20:59] nddery commented on #144
I understand. Our form component renders each inputs as a different component, from my tests, adding the directive to each components input and having the parent form component check for validity didn't quite work (didn't find any errors). Am I missing something or is this not possible ? Tried with and without the `data-scope` but to no avail.

[code]

[2016-11-27 03:58] Async0x42 opened #145 "using v-model.trim disallows spaces"
#### Versions:
- VueJs: 2.1.0
- Vee-Validate:  2.0.0b14

### Description:
Basically an input with v-model.trim works by itself, but if you combine that with vee-validate then you're unable to enter any input that includes a space, breaking behaviour from vue.js

### Steps To Reproduce:
Create a form input with v-model.trim
Add vee-validation with a basic rule (required)
Try to type anything with a

[2016-11-27 08:23] logaretm commented on #144
I'm not sure that I fully understand what you are doing, but scopes are only meant to seperate input groups within the **same** component, since each component has its own isolated scope and validator.

So the `validateAll` you are calling isn't triggering the validation on the `input` component because its only scoped to the `form` component, not its parent, not its children. Its errors are not t

[2016-11-27 11:07] logaretm commented on #145
Can you confirm that using the expression validation is working with v-model.trim?

[code]

**instead of:**

[code]

I'm not sure why its happening using the basic directive, I will look into it, but I guess you can use the proposed workaround until we figure it out.

[2016-11-27 15:05] laurentpayot opened #146 "v2 beta 15 + Quasar framework: Cannot read property 'split' of null"
#### Versions:
- VueJs: 2.1.3
- Vee-Validate: 2.0.0-beta.15 (no bug with beta 14)

### Description:
[code]

### Steps To Reproduce:
[code]
replace **~/foo/src/components/Index.vue** by:
[code]
then launch Quasar with `quasar dev`.

[2016-11-27 15:14] laurentpayot commented on #146
The error is pointing [here](https://github.com/logaretm/vee-validate/blob/master/dist/vee-validate.js#L901).

[2016-11-27 15:36] BrandonSurowiec commented on #146
Need to prefix `data-` attributes now with `vv`. ie. `data-vv-rules`

[2016-11-27 16:16] laurentpayot commented on #146
Thanks @BrandonSurowiec 👍 Maybe the website examples need to be updated…

[2016-11-27 16:16] #146 closed

[2016-11-27 16:49] Async0x42 commented on #145
Yes the alternative method works with v-model.trim, thanks for the workaround.

[2016-11-27 19:19] BrandonSurowiec commented on #146
Yeah, we need to work on the new documentation. Sorry for the confusion. :)

[2016-11-28 02:27] LikeDege commented on #142
@Thanks. I look forward to seeing it in next releases.

[2016-11-28 02:58] LikeDege commented on #142
@logaretm Thanks. I look forward to seeing it in next releases.

[2016-11-28 05:18] luqingxuan opened #147 "data-vv-rules, it's designed to this style?"
[code]

i have beta.14 version vee-validate in my project, today i try to use beta.15, after update,
this is a bug:
vee-validate.js:1100 Uncaught (in promise) TypeError: Cannot read property 'split' of null

i follow source code and notice that, this plugins use data-rules="" for beta.14,
 but in beta.15, use data-vv-rules="", not same style for html5 attribute,

so i want to know,  is this style

[2016-11-28 05:23] logaretm commented on #147
yep, the docs have not been updated yet because of Vue 1.0 version taking longer than expected, should be updated today, sorry for the confusion.

All the data-* attributes for the plugin has been prefixed with `vv` to help prevent any conflicts with other packages. so you are going to have to search and replace for the attributes you've used. Sorry again about the confusion.

[2016-11-28 05:23] hootlex commented on #147
@logaretm I also tried to update to beta.15 but couldn't make it to work. After migrating all `data-*` to `data-vv-*` I got weird errors about not defined props, so I switched  back.

@luqingxuan probably this is a non-backwards compatible change. We should expect this kind of changes while the plugin is still in beta.

[2016-11-28 05:27] hootlex commented on #123
Sometimes it doesn't attach validation rules when a form (hidden within a `v-if`) gets rendered.

[2016-11-28 05:29] luqingxuan commented on #147
@logaretm @hootlex thanks, i know that, i like to use new version(with big smile face)
here i just want to confirm that,: it is designed and the style will be the final style,
thanks again for replying to me so quick,

[2016-11-28 05:29] #147 closed

[2016-11-28 05:40] #138 closed

[2016-11-28 07:51] logaretm commented on #147
@luqingxuan yep hopefully this is the last iteration of the syntax.

@hootlex I just updated the docs to the latest version, and its working as far as I can tell, can you create a seperate issue for it with more details? thanks.

[2016-11-28 15:28] logaretm opened #148 "Validating a specific scope does not work as of 2.0.0-beta.15"
#### Versions:
- VueJs: 2.1.0
- Vee-Validate: 2.0.0-beta.15

### Description:

When trying to validate a specific scope using `validateAll('scope')` it will instead split the string and validate non-existent fields with numeric names:

`[vee-validate]: Trying to validate a non-existant field: "0". Use "attach()" first.`

### Steps To Reproduce:

Create an input group with any scope, then try to ru

[2016-11-28 17:01] nikolaynesov commented on #148
Also after updating to 2.0.0-beta.15 there is an error:
`Uncaught (in promise) TypeError: Cannot read property 'split' of null`
that refers to
[code]

[2016-11-28 17:35] hootlex commented on #147
@logaretm I didn't have time to find out what's going wrong. I switched immediately back to beta.14.
Though, I'll give a shot some time.

[2016-11-28 17:37] logaretm commented on #148
make sure that the data-attributes are prefixed correctly with 'vv' for example `data-vv-rules`

[2016-11-28 17:43] #148 closed

[2016-11-28 22:30] tiagomatosweb commented on #76
has it been implemented as well as the dynamic validation? I would be awesome! Tks.

[2016-11-29 02:21] mjflint opened #149 "Calling detach for a field causes a recursive loop"
#### Versions:
- VueJs: 2.1.3
- Vee-Validate: 2.0.0b16

### Description:
First noticed this in beta 15 and it still occurs in beta 16. Calling detach for a field results in a recursive loop and the field is not detached.

### Steps To Reproduce:
Create a basic form with a validated field and attempt to detach it.

See https://jsfiddle.net/p28e8a95/

[2016-11-29 04:43] tshafer commented on #149
I am seeing this as well with a basic form

- "vee-validate": "^2.0.0-beta.16"

- "vue": "~2.1.3",

[2016-11-29 07:01] logaretm commented on #149
I will look into it.

[2016-11-29 10:13] rabbidas opened #150 ""required" rule not working"
#### Versions:
- VueJs: 2.1.3
- Vee-Validate: 2.0.0-beta.16

### Description:
"required" rule not working from beta.16,

### Steps To Reproduce:
https://jsfiddle.net/1Lxzgduh/5/

[2016-11-29 10:21] #149 closed

[2016-11-29 10:34] logaretm commented on #150
Does not work at all? or just when using `validateAll`?

[2016-11-29 10:36] logaretm commented on #150
nvm, I didn't see the fiddle, should be fixed now.

[2016-11-29 10:36] #150 closed

[2016-11-29 17:55] denjaland opened #151 "vee-validate.js?d4ab:681 Uncaught TypeError: Cannot read property 'split' of null"
#### Versions:
- VueJs: 2.0.3
- Vee-Validate: 2.0.0 beta 16

### Description:
Hi,
I just replaced vee validate beta 14 by beta 16 so I could test the fix for issue 132. (thanks for that by the way!)

Doing so resulted in an error though:
**Uncaught TypeError: Cannot read property 'split' of null**
 at Validator._createField (eval at <anonymous> (http://denja-laravel.dev/build/js/app-f9c4a1cc67.js:

[2016-11-29 18:02] denjaland commented on #151
SOrry about logging this too quickly - just noticed data-rules was replaced by data-vv-rules.
I have updated the code accordingly, and this works.

Thank you.

[2016-11-29 18:02] #151 closed

[2016-11-29 18:14] denjaland opened #152 "setLocale does not update already shown errors"
#### Versions:
- VueJs: 2.0.3
- Vee-Validate: 2.0.0. beta 16

### Description:
Hi, I just tested the fix for issue #132 and this works really good.
Just one tiny issue remains.  When we are on a form, and the form already displays an error, and we then change the language, the already displayed error is not being changed to the correct locale.

Changing the field to trigger anoher validation does

[2016-11-29 19:59] logaretm commented on #152
Well, I had thought about it, I think most of the time the website operates at one locale per request, meaning if a user chooses to change his language, you are probably going to update the whole page not just the input errors, changing the whole thing dynamically is rare from my experience. and I guess its currently easy to do manually since you only need to call another validation. I'm still not

[2016-11-29 21:11] denjaland commented on #152
Well - we want the app to be absolutely single page app, so there won't be an entire refresh of the site.  But I must admit this is low priority.  Maybe we can consider it a "nice to have" for now :-)

Thanks for your very responsive support though.

[2016-11-29 21:13] denjaland opened #153 "RangeError: Maximum call stack size exceeded"
#### Versions:
- VueJs: 2.0.3
- Vee-Validate: 2.0.0. beta 16

### Description:

I'm getting this error after upgrading to beta 16.
Not sure that it's caused by vee-validate, but I believe it's the only delta in our code now.

the call stack is as follows:

Uncaught (in promise) RangeError: Maximum call stack size exceeded
    at VueComponent.Vue.$emit (eval at <anonymous> (http://denja-laravel.dev

[2016-11-29 21:13] tiagomatosweb opened #154 "Can't validate 'confirm' on the fly"
#### Versions:
- VueJs: 2.0.1
- Vee-Validate: 2.0.0-beta.15

### Description:
I'm using simples password confirmation validation and it works. However, it doesn't work on the fly while users are typing. The first input, the real password, shows the error while typing. The second input, the confirmation password, when type the exact the same as the real password, the error doesn't go away. However,

[2016-11-29 21:15] denjaland commented on #152
Just so you know why you might feel this is strange - the app is being developed in a country that has 3 official languages.  We will be using in "kiosk style" on a screen that will be accessible by multiple users at the same time.  When they are working on the screen, they are most probably changing it to their locale when they do.

I do admit though: it's a nice to have.  Just so you know the us

[2016-11-29 21:18] logaretm commented on #153
Yep that is my fault, It was caused by mistakenly triggering an event when detaching a field. It was fixed yesterday but not yet tagged, It was mentioned here #149

[2016-11-29 21:20] logaretm commented on #152
I agree it is a nice to have feature, maybe we can work on it once we finish the other bugs.

[2016-11-29 21:24] denjaland commented on #153
great to know I don't need to look any further! :-)  looking forward to beta 17 :-)

[2016-11-29 21:25] denjaland commented on #153
we can close this then!

[2016-11-29 21:25] #153 closed

[2016-11-29 21:37] logaretm commented on #153
I'm trying to locate possible bugs and fix it before then, should be later today or tomorrow I hope.

[2016-11-29 21:38] logaretm commented on #154
Can you post your code sample, I think you forgot to add it.

[2016-11-29 21:42] tiagomatosweb commented on #154
Oops! I forgot to mark the code as a code!

[2016-11-29 23:09] logaretm commented on #154
I'm not sure what is the problem, but here is a fiddle https://jsfiddle.net/j9muqo5x/ and it works like the docs, can you take another look?

[2016-11-29 23:39] BrandonSurowiec opened #155 "ValidateAll with scope is always passing"
#### Versions:
- VueJs: 2.0.3
- Vee-Validate: 2.0.0-beta.15

### Description:
When you do validateAll('scope') it is passing when there are errors on the form.

### Steps To Reproduce:
1. Visit the "Validation Scopes" example: http://vee-validate.logaretm.com/examples#scope-example
2. Put an invalid email like the letter 'f'
3. Submit the "SIgn Up" form, you get a success message.

[2016-11-29 23:40] logaretm commented on #155
I fixed it here #148

[2016-11-29 23:43] BrandonSurowiec commented on #155
Oh thanks! I was just gonna look into it :)

[2016-11-29 23:43] #155 closed

[2016-11-30 00:44] terrylow opened #156 "url validation rule doesnt work"
#### Versions:
- VueJs: 2.1.3
- Vee-Validate:2.0.0-beta.16

### Description:
url validation rules doesnt seem to work correctly

### Steps To Reproduce:
kindly refer to [jsfiddle](https://jsfiddle.net/ginlong_low/zehar1wh/l)

thx

[2016-11-30 02:42] BrandonSurowiec commented on #156
@logaretm We can force the http(s)/ftp:: protocol with the `require_protocol: true` option, but not sure why some of the other urls are not passing. Ideas?

[2016-11-30 07:55] tiagomatosweb commented on #154
Fine! I just found the problem. I updated your example to be the same as mine.
Have a look at https://jsfiddle.net/j9muqo5x/1/

Now, change v-if to v-show and it works. Not sure why, you might know!

Tks anyway!

[2016-11-30 08:22] tiagomatosweb opened #157 "Clean form data"
Hi, how I would clean the data and do not show the validation required? Let say, I want to clean everything in order to get a fresh form again! Is there a way to do this?

[2016-11-30 08:34] denjaland commented on #157
I don't think it's supported out ofthe box, but I think you could perhaps show the errors conditionally, based on the fieldBag status fields?

[2016-11-30 08:36] denjaland commented on #157
hmm - just though again that this is not a good solution.
Checking that fieldbag property would always hide the required error, even when the item was touched and emptied again.  So forget my feedback.

[2016-11-30 08:43] logaretm commented on #157
You can clean the form using `fields.reset()` which will reset all fields status.

 You can clean the errors using `errors.clear()`.

[2016-11-30 08:46] logaretm commented on #154
Oh, I see. It is a duplicate of #119

It happens because the additional listener can't find the target field, because `v-if` doesn't include the hidden part in the DOM, unlike `v-show` which only sets the `display` style to `none` but the hidden part is still in the DOM thus it can attach the additional listener.

[2016-11-30 08:56] tiagomatosweb commented on #157
fields.reset() didn't do anything.
errors.clear() worked fine. How I would use it inside a method?

[2016-11-30 09:03] logaretm commented on #156
It happens because of the whitelist, seems like I've made a mistake while [setting the default](https://github.com/logaretm/vee-validate/blob/57176e3680d69c59f67f5ead5d250638a6942156/src/rules/url.js#L3).

[2016-11-30 09:09] tiagomatosweb commented on #154
Cool, I understood! For me, in this case, not a big deal to change to v-show. Actually, v-show I think is more correct since there are two containers like tabs that users can navigate.

Tks a lot!

[2016-11-30 09:31] denjaland commented on #157
Is that in the docs somewhere?  Seem to have missed that!

[2016-11-30 09:33] tiagomatosweb commented on #157
I've asked because I couldn't find in the docs!

[2016-11-30 12:18] #156 closed

[2016-11-30 12:23] logaretm commented on #157
fields API hasn't been fully documented yet due to some issues that needs some fixing before then.

@tiagomatosweb so `errors.clear()` is what you were looking for? if it did feel free to close this.

[2016-11-30 12:24] #154 closed

[2016-11-30 13:42] pbastowski commented on #103
I have created a codepen with examples that illustrate the problem http://codepen.io/pbastowski/pen/bBovBO?editors=1000

There are three sections in the example. The first two use `data-vv-scope` and the last one does not. The last one works as expected.

[2016-11-30 13:53] denjaland commented on #41
I very much support this request, but please make it more generic.
If this is implemented, this shouldn't only be applied to the required rule.

What about something like this:

`
<input data-vv-rules="required|someotherrrule" data-vv-required-if="conditions for the require validator to be validated should go here">
`
This keeps the data-vv-rules a simple piped string; for each validator defined t

[2016-11-30 14:10] pbastowski commented on #84
Dynamic scope already works, see http://codepen.io/pbastowski/pen/bBovBO?editors=1000.

This way of using validation scope is a bit long winded, in my opinion. Validation scope could be  bound to the scope of the `v-for` instance or to a component's scope or the current `Vue` instance scope.

Alternatively, `data-vv-scope`, named or blank, could simply create a new validation scope that is used to

[2016-11-30 14:57] TomKita commented on #144
Versions:

- VueJs: 2.0.3
- Vee-Validate: 2.0.0-beta.16

I'm having the same issue with the required rule and `validateAll`.

[code]

When I run `validateAll`  it triggers the email validation but if I remove that rule it does not trigger the required rule.

[2016-11-30 15:34] max76 opened #158 "validate input type="file" programmatically"
#### Versions:
- VueJs: "^1.0.26"
- Vee-Validate: "^1.0.0-beta.8"

### Description:
Is it possible to validate an <input type="file"> programmatically?

Basically, I want to validate, image type, and size... but does not seem to work at all...

[code]

[code]

There might be a problem in the lines below, I have changed it a bit, used: `v-el:instructor_picture`, but still nothing working
[code]

Th

[2016-11-30 20:11] max76 commented on #158
**update:** it still doesn't work, but I think I am closer.

[code]

In the console, I can now see imageValidate() producing the following console.log
[code]

[2016-11-30 21:54] #157 closed

[2016-11-30 22:13] denjaland commented on #153
I can confirm this works now in beta17 :-)
Thank you.

[2016-12-01 00:52] TomKita commented on #144
I just tried the above on 2.0.0-beta.17 its fixed. 👍

[2016-12-01 07:44] logaretm commented on #158
It is very possible, The files validators accept a `Files` array, not a single file since a file input can be multiple. instead of sending files[0] to the validation, try to send the entire files collection.

[2016-12-01 07:57] logaretm commented on #84
I think I agree about deprecating data-vv-rules since `v-validate` seems more natural to use to specify the validator, and I guess for validating data we can use directive args instead like:
`v-validate:email="required|email"`

very concise I think, and It would allow us to know if the validations were updated since the expressions are watched by `update` directive hook, which can give us an easy

[2016-12-01 10:07] mimani opened #159 "What is replacement of data-vv-delay in 2.0.0-beta.14"
#### Versions:
- VueJs: ^2.1.0
- Vee-Validate: 2.0.0-beta.14

### Description:

How do I debounce display of an error message.

I tried delay, v-delay and few other in following code but nothing seems to work.

    <input type="number" v-validate data-rules="required|numeric" name="number" delay="1800"/>

In earlier version this used to happen via [data-vv-delay][1].

  [1]: http://vee-validate.lo

[2016-12-01 10:20] mimani commented on #159
I belive this is `data-delay` now.

[2016-12-01 10:33] #159 closed

[2016-12-01 11:34] denjaland commented on #159
Is it?
I would prefer a more straight forward naming convention for the attributes now.
Some are data-* while others are data-vv-* now?

[2016-12-01 12:32] pbastowski commented on #84
I like your new proposed v-validate syntax with the directive arguments. Very concise, indeed.

As for implied scope, validations declared inside of (inner) components and lower validation scopes will take care of their own specific validations, as required, and have their own implied or explicit scope (if we declare it by name).

We could borrow from AngularJS, which uses an `ng-form="scope"` or

[2016-12-01 13:16] max76 commented on #158
Hi Logaretm, I will try this later tonight... thanks for the tip. All best,Max

[2016-12-01 15:00] BrandonSurowiec commented on #159
It is data-*  through beta 14. Beta 15+ is data-vv.

[2016-12-01 18:44] denjaland commented on #159
Okay!  Missed the fact that he was talking about beta14. #relieved

[2016-12-02 00:58] gborcherds opened #161 "data-vv-scope is not working"
#### Versions:
- VueJs: 2.1.3
- Vee-Validate: 2.0.0-beta.15

### Description:
data-vv-scope is not working. It's not working in your demo either. Getting lots of console warns for the following.

"Trying to validate a non-existant field: "0". Use "attach()" first."

### Steps To Reproduce:
See your demo http://vee-validate.logaretm.com/examples#scope-example

[2016-12-02 01:32] BrandonSurowiec commented on #161
Thank you for the report! This was fixed already: https://github.com/logaretm/vee-validate/issues/148 Upgrade to beta.17 if you are able :)

[2016-12-02 02:44] gborcherds commented on #161
Thanks. I apologize. I downloaded the plugin just a day or two ago and thought I was on the latest already. It does indeed work.

[2016-12-02 02:44] #161 closed

[2016-12-02 06:05] mohitpanjwani opened #162 "Docs for 1.0 ?"
We haven't updated our app to 2.0 yet. We'll be waiting a month or two before upgrading to the next version.

I can't seem to find the docs for 1.0.  Am I missing something here?

[2016-12-02 09:16] max76 commented on #158
Hi Logaretm, using Files instead of files[0] did the trick.

Thanks!
Max

[2016-12-02 09:16] #158 closed

[2016-12-02 09:31] logaretm commented on #162
Both have the same API, However the latest changes may take time to propagate to Vue's 1.0 version because of the different implementations.

[2016-12-02 15:21] chris-griffin opened #163 "Default messages are grammatically incorrect"
#### Versions:
- VueJs: N/A
- Vee-Validate: 2.0.0-beta.17

### Description:
First off, fantastic project Abdelrahman! The default messages in `/src/messages/index.js` are grammatically incorrect. An easy fix would be to add the word 'field' after ${field}. For instance, for a input field for a person's 'name' with `alpha_spaces` applied, the current error is:
"The name may only contain alphabetic

[2016-12-02 15:32] logaretm commented on #163
sure, feel free to PR it

[2016-12-02 23:04] #163 closed

[2016-12-03 08:22] roelvan commented on #82
I am having similar issues with dynamic forms:
[code]

[2016-12-03 08:40] SergeyMiracle opened #165 "Prop name collision"
#### Versions:
- VueJs: 2.0
- Vee-Validate: 2.0.0-beta.17

### Description:
Using plaging vutable-2 and got this error
`Uncaught TypeError: this.fields.forEach is not a function`
It's no doubt name collision, can you plz add prop `fields`, like you did with `error`?

### Steps To Reproduce:

[2016-12-03 10:01] logaretm commented on #165
how is it a collision? from what I can see you trying to do is to iterate over the registered fields, fields is not an array, its an object so you need to do some extracting before you can iterate.

[code]

[2016-12-03 10:38] SergeyMiracle commented on #165
It's not mine code, it's vutable-2 gives error, only when i'm using vee-validate, without it works fine...

[2016-12-03 11:10] logaretm commented on #165
Ah I think I understand, you can rename the fields name when installing the plugin:

[code]

Its not documented because it will cause issues for Vue 1.0 version, I will document it once resolved.

[2016-12-03 11:36] SergeyMiracle commented on #165
@logaretm thx, now it works 😃
👍

[2016-12-03 11:36] #165 closed

[2016-12-03 12:26] frco9 opened #166 "How to change Local language"
#### Versions:
- VueJs: 2.1.0
- Vee-Validate :2.0.0-beta.15

### Description:

I can't find a away to change the 'default' local. The [doc](http://vee-validate.logaretm.com/api#validator) says we should use `setDefaultLocale` which seems to be replaced by the static method `setLocale`. However it still doesn't work, do I need to load the dictionary too ?

[2016-12-03 13:38] denjaland commented on #166
Yes  -  you need to have all languages loaded before you can set them; there is no lazy loading out of the box.

My tiny bit of code:

`
import VeeValidate from 'vee-validate';
import VeeValidateLocaleEN from './locale/vee-validation/en.js';
import VeeValidateLocaleNL from './locale/vee-validation/nl.js';
import VeeValidateLocaleFR from './locale/vee-validation/fr.js';

Vue.use(VeeValidate, {

[2016-12-03 14:53] logaretm commented on #166
Sorry about the confusion. this was changed recently and I seem to have missed to update the documentation on that part.

[2016-12-03 14:54] frco9 commented on #166
@denjaland Thanks it worked that way !
@logaretm No worries, thanks

[2016-12-03 14:54] #166 closed

[2016-12-03 18:54] cargie commented on #156
shouldnt url validation require protocol by default or can we make some options to require protocol or not?

[2016-12-03 19:28] warent commented on #118
@logaretm you totally added `data-vv-name` support and it just made my day. Way to go!

[2016-12-03 19:56] BrandonSurowiec commented on #156
I think we should always require the protocol, like Laravel does it. We could make another rule called 'domain' or for now leave it up to the developer.

[2016-12-04 11:45] alphaelf commented on #118
@logaretm hi dear!
i use this [ui components](https://github.com/museui/muse-ui/blob/master/src/textField/textField.vue) for my project and it emit focus, blur, change and label click events, but i cant validate them?
am i wrong about that?
i install your component by npm maybe its not update?

[2016-12-04 19:03] nerdyglasses opened #167 "Chrome crashes when hiding the input."
#### Versions:
- VueJs: 2.1.4
- Vee-Validate: 2.0.0-beta.15

### Description:
The browser crashes in this example when the DevTools are opened.
If closed there will be a maximum callstack exception.

I've weived this example in components like I do it in a project where this error occorred.

I believe the bug is fixed in beta.17 already but I wanted to show it to you anyway in case it is interesti

[2016-12-05 01:47] Stephen2 commented on #113
Good to see this library getting the recognition (& stars) it deserves!  Hoping this nasty issue can make it into the next beta maybe :stuck_out_tongue:

I've not been able to make heads or tails of it, and am going to have to code around this now with manual validation (YUCK!)

[2016-12-05 02:22] mjflint opened #168 "validateAll does not validate attached fields"
#### Versions:
- VueJs: 2.1.3
- Vee-Validate: 2.0.0b17

### Description:

Calling validateAll() (scoped or unscoped) does not validate fields that have been added using attach(). An attached field can still be validated directly with validate(), however a subsequent call to validateAll() will clear all errors for the field even if they still apply.

This previously worked in beta 14, but appears t

[2016-12-05 06:01] luqingxuan opened #169 "when confirm rule triggered, error message seems not friendly"
beta.15 version
i have the html code:
                   \<div :class="{row:true, 'form-group':true, 'has-error': errors.has('AdminPass')}"\>
                    \<label class="col-sm-2 control-label" for="AdminPass">管理员密码：\<\/label\>
                    \<div class="col-sm-9"\>
                        \<input type="password" id="AdminPass" v-validate name="AdminPass" data-vv-as="管理员密码" data-vv-ru

[2016-12-05 06:05] luqingxuan commented on #169
_formatErrorMessage, i look up source code, it should be with this method:
 var name = this._getFieldDisplayName(field);
 var params = this._getLocalizedParams(rule);
now params = ["AdminassConfrimP"], u can trans params => ["确认秘密"]

[2016-12-05 06:12] luqingxuan commented on #169
btw, when i input password, the error message show,
 i don't think it is a good way, the validate should be triggered when i input confirm password?

[2016-12-05 11:41] denjaland opened #170 "Once an input has been visible using v-if, it always validates it as part of the form even when hidden again."
#### Versions:
- VueJs: 2.0.3
- Vee-Validate: beta17

### Description:
Hi,

I'll publish a jsfiddle if required, but perhaps you're already aware of this issue.
I have form in which I have some items that I do not want to display using v-if tags.

If the input has been shown once, and then has been hidden using v-if = false then it seems that vee-validate is still validating the hidden field.  It

[2016-12-05 11:43] logaretm commented on #167
Right, this was fixed indeed in beta.17. It was happening because the plugin was emitting an infinite cycle of events.

[2016-12-05 11:43] #167 closed

[2016-12-05 11:46] nerdyglasses commented on #167
Hey cool. Thx for the great plugin!

[2016-12-05 11:54] logaretm commented on #168
I don't think it ever worked, any fields that was attached programatically won't be validated when using validate all, they were  just being registered for `validate` and `validateAll` if you pass the values, because the validator had no way to tell the field values upon the time of `validateAll` call. so the directive used to handle this by attaching event listeners on the vue instance. but since

[2016-12-05 11:57] logaretm commented on #170
yep this is the next on my list, it has been reported before. but It is kinda hard to tackles since some rules need the existence of the fields event before the time of validation some don't. I will look into it this week.

[2016-12-05 12:00] denjaland commented on #170
okay sounds great!
you happen to have the link to the other issue?  I can then just follow that one.  DIdn't find it earlier.

Again thanks for the great component :-)

[2016-12-05 12:00] logaretm commented on #113
I'm sorry I couldn't investigate it properly, I'm having a busy week at work atm. I will try to include it in the next beta since it will be more about fixing issues than new stuff.

[2016-12-05 12:01] logaretm commented on #170
Well they are not exactly the same issue but they all are caused by the same problem: #119 and #123

[2016-12-05 12:01] denjaland commented on #170
Okay - someone please get me a pair of glasses.  It's issue #123 of course.
I'm gonna go ahead and ubscribe there :-)

[2016-12-05 12:25] logaretm commented on #169
Probably you've set the locale in your full app along with the messages, so I'm having issues reproducing this, can you create an example on jsfiddle so I can try and fix it?

the params for the confirmed rule contain the field name, not the display name, the display name is retrieved from either the attributes object in the dictionary or the `as` attribute.

as for the validating on input you may

[2016-12-05 13:06] nerdyglasses opened #171 "select not changeable with v-validate"
#### Versions:
- VueJs: 2.1.4
- Vee-Validate: 2.0.0-beta.17

### Description:
I cannot change a select's value after attaching v-validate.
Try removing the directive to verify that it works without it.

### Steps To Reproduce:
1. Go here: http://jsfiddle.net/gambo/xcha53ub/
2. Try selecting another option

[2016-12-05 13:50] BrandonSurowiec commented on #171
To clarify this is for the arrow keys. Thanks!

[2016-12-05 13:51] nerdyglasses commented on #171
No this is for mouse also!

[2016-12-05 13:52] BrandonSurowiec commented on #171
What browser? Working fine for me for the mouse in Chrome v.  53.0.2785.143

[2016-12-05 13:53] nerdyglasses commented on #171
Chrome 54.0.2840.98 on macOS sierra

[2016-12-05 13:55] BrandonSurowiec commented on #171
Thanks!

[2016-12-05 13:55] nerdyglasses commented on #171
It has just updated to 55.0.2883.75 when I had a look. Thx to you guys too!

[2016-12-05 13:59] denjaland commented on #171
never noticed it before, but I can confirm on  54.0.2840.98 macos.

[2016-12-05 14:04] mjflint commented on #168
Ok, I understand. Just need to supply the context and getter for the validator to know how to find the field's value. Thanks for the example!

[2016-12-05 14:04] #168 closed

[2016-12-06 03:59] thenathanjones opened #172 "NS_ERROR_UNEXPECTED on Firefox"
#### Versions:
- VueJs: 2.1.4
- Vee-Validate: 2.0.0-beta.14 (I'm locked to this currently as I have a different issue to sort with the current version)

### Description:
I'm seeing a problem similar to this: https://github.com/kazupon/vue-validator/issues/132

When I navigate away from a page that has disabled input fields with vee-validate attached in Firefox I see an NS_ERROR_UNEXPECTED error. T

[2016-12-06 05:57] tiagomatosweb commented on #170
Any workaround while it is being implemented?
I have two containers which I show depending on the user wish. The fields in the container that is hidden is always being validated.

[2016-12-06 07:32] denjaland commented on #170
I don't think there's a clean workaround to be honest.  In your case you could put two forms perhaps if you do not have shared fields that you need in both cases.
Otherwise I would wait for the fix. W

[2016-12-06 09:50] muchacho-diesel commented on #170
I also have this problem. When I hide a modal with the validator the browser crashes

[2016-12-06 10:45] throrin19 commented on #118
I have the same problem, I've test your library with the `vue-material` library and the validation d'ont works :(. This is the code on my component :

[code]

[2016-12-06 10:50] logaretm commented on #170
@muchacho-diesel probably not the same issue, make sure you have the latest version. probably you are still running beta 15 which had the detch issues.

[2016-12-06 11:02] muchacho-diesel commented on #170
@logaretm Thank you for putting me in the right direction. The problem was indeed the older beta 15 version I was running.

[2016-12-06 11:08] tiagomatosweb commented on #170
@logaretm I just run npm install vee-validate@next --save and it came with beta15.

[2016-12-06 22:34] tiagomatosweb commented on #170
My work around was create a different scope for each if statement. Then, I pass as an argument which form scope I want to validate.

[2016-12-07 01:49] logaretm commented on #170
Sorry about the tag issue, should be resolved now, thanks for reporting it.

[2016-12-07 13:46] logaretm commented on #172
Can you try the latest version? a couple of issues has been resolved since then, you should be also aware that you might need to update to accommodate to the breaking changes introduced in beta.15

[2016-12-07 13:48] #162 closed

[2016-12-07 13:50] logaretm commented on #144
@nddery can you check the latest version and confirm it was fixed like with @TomKita ?

[2016-12-07 19:01] mgrandl opened #173 "Can't change initial value defined by v-bind:value"
#### Versions:
- VueJs: 2.1.3
- Vee-Validate: 2.0.0-beta.17

### Description:
When validation is active I can't change the initial value of the form field, defined by v-bind:value.
It works, when I am using v-model, but since I am using computed values, that is not an option.

### Steps To Reproduce:
Bind any value to and input field and try to enable validation.

[2016-12-07 21:16] sobolevn opened #174 "Can not validate a value inside an object"
#### Versions:
- VueJs: 2.1.4
- Vee-Validate: @next.beta-17

The issue happens after an upgrade from `beta-17`

### Description:

When I try to validate a value inside the object it does not do anything but generates a warning in the console:

### Steps To Reproduce:

[code]

### Fix

I have changed my `data()` to be flat, that worked.

[code]

[2016-12-08 11:03] muchacho-diesel opened #176 "Validation for radio buttons not working properly when using v-if"
**Versions:**
- VueJs: 2.0.4
- Vee-Validate: beta17

**Description:**

When I toggle visibility for the form the validation for radio buttons are not working properly, because it will only update the validation when clicking the "validate" button (see JSfiddle example below). Normal expected behaviour is that it will hide the error message below when you select one of the radio buttons.

**Steps T

[2016-12-08 12:32] BrandonSurowiec commented on #176
Try using `v-show` on the form as a workaround. That way the DOM elements exist and can be evaluated.

https://jsfiddle.net/v8dx7agr/1/

[2016-12-08 12:37] denjaland commented on #176
I don't think that's a good workaround to be honest.  If the button is hidden, it will also validate, which is probably not the expected behaviour.
We also hide controls using v-if because they are conditional; such controls should not be validated when they are not there.

[2016-12-08 12:44] logaretm commented on #173
Because you are binding the value to a computed property, no `input` event is being emitted so the validator cannot detect such changes.

You can validate expressions by providing an expression to the directive, like this:

[code]

[2016-12-08 15:32] rstoenescu opened #177 "Cannot read property 'split' of null"
#### Versions:
- VueJs: 2.1.4
- Vee-Validate: 2.0.0-beta.17

### Description:
Getting `vue.runtime.common.js?d43f:423 TypeError: Cannot read property 'split' of null(…)` error.

### Steps To Reproduce:
Template used:

[code]

[2016-12-08 16:32] donnygunawan93 opened #178 "errorBag undefined"
#### Versions:
- VueJs: #.#.#
- Vee-Validate:

### Description:
I just want to copy data

### Steps To Reproduce:
console.log(this.$options.data())

[2016-12-08 19:53] logaretm commented on #177
All data-* attributes have been prefixed with `vv`

so you should change `data-rules` to `data-vv-rules`.

[2016-12-08 19:57] logaretm commented on #178
Can you specify Vue and Vee-Validate versions with a full code example?

it works fine here: https://jsfiddle.net/4wva22us/1/

[2016-12-09 03:38] nddery commented on #144
@logaretm sorry, been super busy at work and haven't had time to try this solution..

We've opted to sync inputs back to the form component, and ensure that required fields are declared in the validated object (with `validateAll({ ... })`). We pass the error bag to each children of the form component, which allow us to place the field error wherever we want in the child component markup. This way,

[2016-12-09 08:38] rstoenescu commented on #177
Worked with `data-vv-rules`. Thanks!
I think this change (probably in the last beta iteration?) should be documented somehow. A small notice somewhere.

[2016-12-09 08:38] #177 closed

[2016-12-09 09:44] mgrandl commented on #173
Oh that makes sense! Thanks!

[2016-12-09 09:44] #173 closed

[2016-12-09 19:45] FilipQL opened #179 "Async validation (custom rule) - not preventing form submission"
#### Versions:
- VueJs: 2.1.3
- Vee-Validate: vee-validate@2.0.0-beta.17

I have created a custom rule that uses Ajax to check if the same title already exists (title must be unique). The problem is: when this validation fails - the form is not prevented from being submitted.

I have defined the following custom rule in _resources/assets/js/_**app.js**:

[code]
As you can see, this rule uses Ajax

[2016-12-09 20:01] denjaland commented on #179
Haven't checked in detail, but are you sure that the unique validator is not always teturnibg false, even when you test with a unique value?
You probably need to make your ajax synchronous for this to work...

[2016-12-09 21:45] FilipQL commented on #179
@denjaland Just added `console.log(value);` and `console.log(response.data);`:

[code]
And, as I see - it always returning false:
![3](https://cloud.githubusercontent.com/assets/18264428/21065241/7f8486a6-be5f-11e6-86a5-80c1be599205.png)

 I noticed a weird thing - when I add a new '_todo_' - the input is cleared and then the '_check-unique_' rule fails:

![4](https://cloud.githubusercontent.com/a

[2016-12-10 13:10] logaretm commented on #179
I think the issue is here: `this.$validator.validateAll()`, this evaluates immediately and allows the errors check to fail since it has not yet received the result. and it might conflict with next calls depending on when the promise actually finishes.

`validateAll` returns a promise so you can successfully evaluate the result:

To take advantage of this you need to do this:
[code]

btw one of you

[2016-12-10 16:17] FilipQL commented on #179
@logaretm

Changed from:

[code]
to:
[code]
... and now it works fine. Thanks. I'm not sure if this was mentioned in the documentation, if not - it would be good to have this.

Yeah, I noticed that, I am getting the _500 error_  always when there are a lot of Ajax request in a short amount of time, something might be wrong on my server (XAMPP) but I have no idea what...

Anyway, thanks!

[2016-12-10 16:20] #179 closed

[2016-12-10 19:42] logaretm commented on #179
I guess its not properly documented yet, as I'm planning to reject the promise if the result is false to make it more natural and consistent with other libraries and APIs, so you would put the success handler in `then` and the fail handler in `catch`.

[2016-12-11 12:09] logaretm commented on #176
I have identified the issue and fixed it. It was caused by waiting for `validatorReady` event which is only emitted once at the mount cycle. so if stuff are hidden and appeared/inserted their listeners won't be attached properly. I have used $nextTick callback instead. (For some reason radio buttons don't exist the time of binding of the directive)

[2016-12-11 12:09] #176 closed

[2016-12-11 12:59] logaretm commented on #170
@denjaland I've fixed a couple of related issues can you check if it is resolved with the latest build?

[2016-12-11 13:09] #119 closed

[2016-12-11 13:09] logaretm commented on #119
Well for the time being I fixed it with swapping $once for $nextTick which should do the trick.

[2016-12-11 19:12] donnyjeremiah opened #180 "VeeValidate using vue-loader with vue-cli - errors property undefined"
#### Versions:
- VueJs: 2.1.0
- Vee-Validate: 2.0.0-beta.17

### Description:
I'm using VeeValidate in one of my Child Components. I keep getting the error, `_vm.errors is undefined`  when I don't specify an `errors` property in data function.  When I do, obviously I get the error, `_vm.errors.has is not a function`. Does VeeValidate populate this errors property in data object? What is wrong here

[2016-12-11 21:21] Stephen2 commented on #171
Very flaky <select> handling at this stage, related: https://github.com/logaretm/vee-validate/issues/113

Android/Firefox have different problems, Chrome has different ones...

[2016-12-11 21:52] tiagomatosweb commented on #170
Hi @logaretm, is the latest build beta17 or did you forget to setup a new tag?

[2016-12-11 22:37] logaretm commented on #170
nope, I meant to try to grab it from the repository itself and use it in his project files directly. But I will release a tag soon if I can't include more fixes in there.

[2016-12-11 22:48] denjaland commented on #170
Hi - will try and do asap.  Otherwise it might be handy if it was tagged though.

[2016-12-11 22:50] tiagomatosweb commented on #170
I just replaced the files dist/vee-validate.js and dist/vee-validate.min.js. Now all my fields are showing error like this

"vee-validate.js?fd76:175 [vee-validate]: Trying to validate a non-existant field: "form.institute_id". Use "attach()" first."

No sure if I did right!

[2016-12-11 23:03] logaretm commented on #171
I think I fixed it at least for chrome, should be in the latest build in the repo files, can someone confirm?

[2016-12-11 23:04] logaretm commented on #113
can you give it a test with the latest build? I think I fixed it at least for chrome.

[2016-12-11 23:08] logaretm commented on #170
I'm not sure, it seems like you are validating an expression. I have also added minor and possibly breaking changes, basically expressions like "form.institute_id" won't be used as a name since the expression can be anything.

I just pushed another build, can you try it? sorry about that.

[2016-12-11 23:30] tiagomatosweb commented on #170
Now my error bag is coming with a blank field like so

{ "errors": [ { "field": "null", "msg": "The Institute field is required.", "rule": "required", "scope": null } ] }

My validation
<select v-model="form.institute_id" v-validate data-vv-rules="required" data-vv-as="Institute">
     <option value="">Choose</option>
</select>

Tks a lot!

[2016-12-12 00:41] logaretm commented on #170
you need to always provide either a name or `data-vv-name` attribute on your inputs, expressions won't be used as names anymore

[2016-12-12 11:42] imuller commented on #153
When will 1.0.0-beta.11 be released on NPM? Including these fixes.

[2016-12-12 14:48] logaretm commented on #153
@imuller oh I forgot to publish it, should be up now.

[2016-12-12 17:37] logaretm commented on #180
Yes the plugin adds the error object to the data by itself, you don't have to specify it.

I'm not entirely sure what is wrong, can you create a fiddle reproducing the issue?

[2016-12-12 17:39] logaretm commented on #174
well in next releases expressions won't be used as names anymore which should resolve this, instead you should always either use a `name` attribute or a `data-vv-name` attribute. you can try the latest build in the repo to confirm.

[2016-12-12 20:43] imuller commented on #170
Can you also release this fix for the Vue 1 version?

[2016-12-12 21:21] logaretm commented on #170
sure, once a fix is confirmed on vue 2 it will be implemented for vue 1

[2016-12-12 23:09] logaretm commented on #170
Its okay, I think it is fixed, but I wanted another confirmation. whenever you can.

[2016-12-13 00:01] tiagomatosweb commented on #170
Hi @logaretm,
Sorry for may delay!

I've tested with the data-vv-name attribute and it worked fairly well.

Follow my validation
[code]

However, when I use v-for
1) when I add/remove item in the list all validation messages reset
2) when I remove a item and then try to validate, nothing is being validated.

I think it because all fields have the same data-vv-name. This name should be dynamically

[2016-12-13 00:36] logaretm commented on #170
@tiagomatosweb you are correct its due to names being the same, you might want to make the names a little bit more dynamic.

https://jsfiddle.net/f1c9d5xs/1/

I will probably close then then, if the issue still remains, anyone feel free to create a new issue.

[2016-12-13 00:36] #170 closed

[2016-12-13 01:46] tiagomatosweb commented on #170
Yes, I knew that! I was trying to do it using data-vv-name="'fruit_'+index" without spaces and didn't work! It doesn't recognise the index variable and make the all text as a string. With space yes, I can concatenate.  Everyday learning...

Tks very much @logaretm and see you in the next issue :)

[2016-12-13 13:27] lcd78706 opened #182 "Which version is the latest?"
Hello @logaretm  ,
I am the member of cdnjs project.
I want to add this library, but the version mentioned in package.json   https://github.com/logaretm/vee-validate/blob/master/package.json#L3  is different from the latest version "1.0.0-beta.11" on https://www.npmjs.com/package/vee-validate  .
I want to confirm with you about the problem.

https://github.com/cdnjs/cdnjs/issues/9646

[2016-12-13 15:41] logaretm commented on #182
So far we are maintaining two release channels, 2.0.0-beta.17 should be the latest, but for installation compatibility I've tagged 1.x beta11 as the latest. in next releases I will make 2.x will always be the latest.

sorry about the confusion.

[2016-12-13 18:00] denjaland commented on #170
Hi - any chance you can tag beta18?
That way I'll have someone test it tomorrow for me. - we pull dependencies automatically every day in development, so that will be automatically tested then.

[2016-12-13 18:21] logaretm commented on #170
okay will try to do a quick one in few hours

[2016-12-14 09:45] donnygunawan93 opened #184 "Ask # My field read as "null""
https://jsfiddle.net/4wva22us/3/

The null is required.
The null may only contain alphabetic characters.

yes its work with < input > but how if inside component like this
https://museui.github.io/#/textField
https://vuematerial.github.io/#/components/input
http://element.eleme.io/#/en-US/component/input

[2016-12-14 14:15] luis199230 commented on #171
I have a MacOs Sierra and Google Chrome Versión 55.0.2883.95 (64-bit), but not working with latest build, I use npm and webpack compiler.

[2016-12-14 15:29] james-brndwgn opened #186 "URL validation is limited and fail on more complex URLs"
#### Versions:
- VueJs: 2.1.3
- Vee-Validate: 2.0.0-beta.14

### Description:
The current URL validation fails upon more advanced validation. For example, validating `http://google.com` returns true, however `http://google.com?queryname` returns false.

My solution to this has been to use the @dperini valid URL regex found here: https://gist.github.com/dperini/729294

My custom rule looks like thi

[2016-12-14 19:32] logaretm commented on #186
You should upgrade to the latest version `beta.17` that uses `validator.js url` validation. already mentioned in #124 and #83

Note that the [latest version](https://github.com/logaretm/vee-validate/releases/tag/2.0.0-beta.17) contains some breaking changes.

[2016-12-14 19:32] #186 closed

[2016-12-14 20:07] logaretm commented on #184
try to provide a `data-vv-name` attribute which is more suited to 3rd party libraries.

https://jsfiddle.net/4wva22us/5/

[2016-12-14 20:07] logaretm commented on #171
@luis199230 by latest do you mean beta.17 or the files in the dist directory?

[2016-12-14 23:57] luis199230 commented on #171
yes I use beta.17

[2016-12-15 00:16] luis199230 commented on #171
I test and see the fix, in this fiddle, show how to use properly. https://jsfiddle.net/92Lmjs6m/13/ v-validate = "" is necessary same v-model = "" if not, don't working.

[2016-12-15 00:23] tiagomatosweb commented on #171
I'm experience the same issue using the file in the repo.
To solve it for the time being, I'm using v-validate.initial="".

[2016-12-15 02:59] donnygunawan93 commented on #184
It works, thx.

[2016-12-15 02:59] #184 closed

[2016-12-15 03:25] logaretm commented on #171
I've tagged a new release feel free to test it and confirm whether if *this* issue was resolved, if another issue appears feel free to create a new one describing it.

[2016-12-15 03:26] logaretm commented on #113
I've tagged a new release with this fix, it works as far as I can tell, can you confirm?

[2016-12-15 07:11] luqingxuan commented on #169
@logaretm
i am sorry for so long, i am sick and go to hospital...
here i make an example for you
[http://jsbin.com/godesazelu/edit?html,output](http://jsbin.com/godesazelu/edit?html,output)

u will see error message if u input AdminPass not equal AdminPassConfirm,
but the error message is not what i want, it gives me:
管理员密码 不能和AdminPassConfirm匹配.
but i want
管理员密码 不能和确认秘密匹配.
the data-vv-as text

[2016-12-15 07:17] luqingxuan commented on #169
by the way, it's my fault, u should use **chrome browser** to see this example, there has es6....

[2016-12-15 09:36] logaretm commented on #169
I see, you can do this:

[code]

which should translate the confirmation field, this is the only way to translate target field names supported so far.

check here:
http://jsbin.com/goboxidude/2/edit?html,output

[2016-12-15 10:27] Woutje99 commented on #76
@logaretm Is this already developed or still in a nice to have feature?

[2016-12-15 10:27] moonlik opened #187 "Required rule doesn't work at input type file"
#### Versions:
- VueJs: 2.0
- Vee-Validate: 2.0.0-beta.15

### Description:
I have the issue with the following code:

[code]

As for mimes and dimensions, everything works well. However, required rule doesn't work.
I don't know why, but when I click on the 'Submit' button it doesn't show me span.

[2016-12-15 11:44] james-brndwgn commented on #186
Ah, thanks for the info. Unfortunately I couldn't upgrade because of possible breaking changes (which you've confirmed).

[2016-12-15 20:10] logaretm commented on #187
Can you try beta.18? some bugs were fixed by that tag.

[2016-12-15 23:27] logaretm commented on #76
should be next up for the next release, will require some breaking changes tho.

[2016-12-16 07:20] moonlik commented on #187
@logaretm I've tried the beta.18, and it still doesn't want to show me the span. Does this 'required' rule work for `<input type="file">`?

[2016-12-16 12:09] logaretm commented on #187
could be a bug, I will look into it.

[2016-12-16 14:15] AlexAdicom opened #188 "Regex validation error"
#### Versions:
- VueJs: 2.1.4
- Vee-Validate: 2.0.0-beta.17

### Description:
I've got a problem with using Regex:
when I use simple regex expression like:
  **_data-vv-rules="required|regex:^([0-9]{10})$"_** it's ok,
but when expression is more complex, like this:
  **_data-vv-rules="required|regex:^($|[0-9]{13}|[0-9]{15})$"_**
  (also tried data-vv-rules="required|regex:/^($|[0-9]{13}|[0-9]{15})

[2016-12-16 14:18] logaretm commented on #188
Sadly your regex cannot contain any pipes, since the plugin splits the rules using them, there is a workaround mentioned here #64

In the next release I will be working on dynamic rules, so it could be possible to do it without that working around.

[2016-12-16 21:16] max76 opened #189 "Proxy is undefined"
#### Versions:
- VueJs: 1.0.26
- Vee-Validate: 1.0.0-beta.11

### Description:
Hi,

I can see this issue has been covered before.

Until today, I was using Vee-Validate 1.0.0-beta.8, which used Proxy() within fieldBag.js. When testing in IE11, I got the error.

I can actually see that in Vee-Validate 1.0.0-beta.11, fieldBag.js has been update to no longer use Proxy().

As such I updated Vee-Valida

[2016-12-16 21:36] max76 commented on #189
Hi again,

I actually solved it.

I went again through my npm steps, deleted node-modules, then tried checking the site, and it actually continued to work, and then I thought to myself, I did not run **gulp**.

So basically, I needed to re-run gulp for main.js to be updated.

All best,
Max

[2016-12-16 21:36] #189 closed

[2016-12-17 01:11] logaretm commented on #171
I've updated the fiddle and it seems to be working fine, closing this for now.

http://jsfiddle.net/xcha53ub/6/

[2016-12-17 01:11] #171 closed

[2016-12-17 01:12] logaretm commented on #113
http://jsfiddle.net/xcha53ub/6/

Should be working fine now.

[2016-12-17 01:12] #113 closed

[2016-12-17 01:17] logaretm commented on #41
The validator as of beta.18 should now respond correctly when adding/removing fields with v-if and v-for.

[2016-12-17 01:17] #41 closed

[2016-12-17 01:18] logaretm commented on #54
As of beta.18 the validator should respond correctly if fields are being hidden using v-if or removed using v-for.

[2016-12-17 01:18] #54 closed

[2016-12-17 03:57] #187 closed

[2016-12-17 17:21] nerdyglasses commented on #171
cool thx, I'll give it a try!

[2016-12-18 15:04] Icemanbeta commented on #180
I actually just replaced gulp+browserify to webpack through the full webpack template through vue-cli and getting the exact same error.

[2016-12-18 15:40] Icemanbeta commented on #180
Okay I fixed it. So, at first I restarted my computer just cause I think I was starting to go crazy. After restarting, I noticed my app was still using `vue@2.0.3`. So I went ahead and upgraded it and got this:

![image](https://cloud.githubusercontent.com/assets/1786875/21294579/ef000492-c50d-11e6-8b93-95c6dc92e826.png)

So then I proceeded to upgrade `vue-template-compiler` to `2.1.0` to match `

[2016-12-18 15:43] Icemanbeta commented on #180
After taking a sneak peak at the template repo, I was right on the webpack versioning issue. I think the reason the version being used:

![image](https://cloud.githubusercontent.com/assets/1786875/21294606/ac68d8ce-c50e-11e6-9709-57de92bd5b38.png)

![image](https://cloud.githubusercontent.com/assets/1786875/21294609/b7b91c98-c50e-11e6-8753-0446bd132bd5.png)

Seems like everything got upgraded exce

[2016-12-18 18:01] denjaland commented on #170
Hi,

I pulled in beta18 and did a quick test, but didn't fix my problem. I will try and make a fiddle asap to isolate the problem.

David.

[2016-12-19 06:46] luqingxuan commented on #169
@logaretm
i know what u mean, but i don't think it's the best way, just a little hate business code in config file.
i write, config input tag with custom attributes,  because i don't want to config by javascript code, it's ugly style.
i event accept the way, there is a input config, such as data-vv-attr="确认密码",
it's just my little opinion

[2016-12-19 06:48] luqingxuan commented on #169
All validators have access to a simple dictionary that is shared between all of them, this dictionary contains localized error messages and attributes, if the validator finds a localized attribute name for that field it will be used instead of the field name. **Pretty much like data-vv-as but data-vv-as takes priorty if both are found.**

the help doc said

[2016-12-19 11:49] andrisi opened #190 "feature request: scoping with dot notation"
I know scopes are the solution for grouping controls together, but perhaps it would be easier - and more in line with Vue's object hierarchy - to be able to say has('login.name), has('login.password') and then see them as a group as has('login') - this would be true if there is any error in the 'login' quasi-scope.

[2016-12-19 13:34] logaretm commented on #169
They confirmed field is a special case as well as the `after` and `before` rules, data-vv-as only works on the validated input. currently the validator stores references to those fields, not the target fields so we can't easily implement it. maybe down the road we might implement it.

[2016-12-19 13:36] logaretm commented on #190
That sounds reasonable, I will work on it once the other issues are resolved.

[2016-12-19 15:22] andrisi commented on #190
Thanks.

[2016-12-19 17:54] renedekat commented on #106
I know what the problem is. I validate on decimal, using an accounting plugin to format a number to 2 decimals. When this value is 0 it return '0.00' as a string. The validation rule thinks this is acceptable in version beta.9 and up. I

[2016-12-19 18:17] renedekat commented on #106
The validation works when editting a field, but when calling this.$validator.validateAll() the errors for the fields with (attach) are cleared.

[2016-12-19 18:22] renedekat commented on #106
Also, as you can see the custom error label doesn't work. It should say "Charge value", but instead it says "charge_value"

[2016-12-19 18:41] renedekat opened #192 "Number.isNaN is not supported in Internet Explorer"
#### Versions:
- VueJs: 1.0.17
- Vee-Validate: 1.0.0-beta.11

### Description:
The decimal validation rule uses !Number.isNaN on line 2671, but this is not supported in IE.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/isNaN#Browser_compatibility

### Steps To Reproduce:
Create a validation rule for decimals and test in Internet Explorer.

[2016-12-19 19:11] #192 closed

[2016-12-20 01:01] luqingxuan commented on #169
@logaretm
maybe it's my fault, but i can't understand why there has attributes config, getAttribute method also,
[http://vee-validate.logaretm.com/rules#custom-attributes](http://vee-validate.logaretm.com/rules#custom-attributes)
there is a Note:
**Note: If the attribute is not found for the current locale, it will fallback to the binding expression or the field name. If you use the data-vv-as att

[2016-12-20 11:02] RyuuGan opened #193 "data-vv-rules is mandatory if strict mode is on"
#### Versions:
- VueJs: 2.1.6
- Vee-Validate: 2.0.0-beta.18

### Description:
`data-vv-rules` should not be mandatory if `strict` mode is on.

### Steps To Reproduce:

Next code throws an exception `Cannot read property 'split' of null`

[code]

But it works fine if:

[code]

### My config

[code]

[2016-12-20 22:15] logaretm commented on #193
Should be easy to fix, I think its a fair assumption that if no rules are specified it should not disrupt the operation of the plugin.

[2016-12-21 01:29] Aterbonus opened #194 "v-validate not working with binding expression"
### Versions:
- VueJs: 2.1.6
- Vee-Validate: 2.0.0-beta.18

### Description:

When v-validate is used with a binding expression, vee-validate doesn't work as expected.
This works just fine in 2.0.0-beta.17.
### Steps To Reproduce:

See [codepen](http://codepen.io/Aterbonus/pen/xRBYrY).

[2016-12-21 03:25] Aterbonus opened #195 "decimal rule doesn't work well without parameter"
### Versions:
- VueJs: 2.1.6
- Vee-Validate: 2.0.0-beta.18

### Description:

The documentation says "Not passing the decmials[sic] will accept numeric data which may or may not contain decimal point numbers", but if we use the decimal rule without the parameter the validated value is rejected if it has any decimal point numbers.

### Steps To Reproduce:

An input like:
[code]
with any value with

[2016-12-21 03:45] logaretm commented on #194
In beta.18 expressions won't be used as names anymore as you can read it in the release notes.

Here is a fixed pen:
http://codepen.io/logaretm/pen/VmRXOK

[2016-12-21 03:45] #194 closed

[2016-12-21 06:09] mohitpanjwani opened #196 "Config option for changing fieldbag Name."
#### Versions:
- VueJs: 2.0
- Vee-Validate: 2.0.0-beta.17

### Description:

Is there a way change the `fieldbag` name , just like errorBag to avoid conflicts?

Currently vee-validate does not play well with https://github.com/ratiw/vue-table , because vue-table uses `fields` as a required prop.

Any help would be greatly appreciated 👍

[2016-12-21 13:39] BrandonSurowiec commented on #196
There is already an option, it is just undocumented at this time. The below code should work:

[code]

[2016-12-21 13:57] Christilut opened #197 "VeeValidate won't allow any input"
#### Versions:
- VueJs: 2.1.6
- Vee-Validate: 2.0.0-beta.18

### Description:
Fields with v-validate won't allow any input. When typing, simply nothing shows up in the input field.

### Steps To Reproduce:
Added VeeValidate as the example:
[code]

[code]

Now type in the input field. No text appears.

If I add `data-vv-delay=200` then I can type normally, until the delay trigger happens, then inpu

[2016-12-21 17:46] denjaland commented on #170
okay - the fiddle I was trying to create to reproduce it in an isolated case is not giving me errors...
I'll have a look at our code to see why it doesn't work as expected.

[2016-12-21 17:55] denjaland opened #198 "Validation incorrectly says it is valid when removing elements using v-if"
#### Versions:
- VueJs: 2.1.6
- Vee-Validate: beta18

### Description:

When testing issue #170 we found a new issue when using v-if fields.  Please look at the demo at https://jsfiddle.net/gubjga85/

It seems there is a problem when removing elements from the form using v-if.

### Steps To Reproduce:
Look at https://jsfiddle.net/gubjga85/

[2016-12-21 22:58] #193 closed

[2016-12-21 23:03] logaretm commented on #198
You did not specify any field names using either `name` or `data-vv-name`, that what was causing the issue, here is an updated fiddle:

https://jsfiddle.net/gubjga85/1/

[2016-12-21 23:11] logaretm commented on #197
I don't think the issue is related to VeeValidate even though that a strange behavior is being observed because of applying it.

in your code you are binding an input value to a computed value which is not useful since computed properties are just getters, they cannot be set, so v-model does nothing here.

using data instead to bind your values is the appropriate approach: https://jsfiddle.net/rer

[2016-12-21 23:19] logaretm commented on #195
You are correct, thanks for reporting the issue, It should be fixed soon.

[2016-12-21 23:20] #195 closed

[2016-12-21 23:22] #188 closed

[2016-12-21 23:22] #182 closed

[2016-12-21 23:34] Christilut commented on #197
You are totally right, not sure how I missed  that :|
Thanks!

On Thu, Dec 22, 2016, 00:11 Abdelrahman Awad <notifications@github.com>
wrote:

[2016-12-21 23:35] #197 closed

[2016-12-22 06:04] xjkms opened #199 "max validation incorrect with vm.$watch"
#### Versions:
- VueJs: 2.0.3
- Vee-Validate: 2.0.0-beta.17

### Description:
I'm tring to use vm.$watch to validate the max length of a textarea tag, but the first time when the length more than 1024, it shows no error, length goes to 1025. And I type in one more word, it shows the error twice. Do I use something wrong? Here is the core code:

in beforeMount:
[code]

in html:
[code]

thank you.

[2016-12-22 07:36] logaretm commented on #199
I'm not sure what do you mean by "appearing twice" from what I can see everything seems in order except that your watch function might hide the error because it is constantly modifying it whenever it exceeds the character limit.

[2016-12-22 10:01] xjkms commented on #199
First of all, thank you for responsing.
The instance you create on fiddle is nearly what I mean. In order to make the test easier, I change the max to 5, and print out the validate result in console.[here](https://jsfiddle.net/xjkms/7u0z4cse/)
when I type the 6th letter in,  `this.errors.has('textMax')` returns false, but the html shows the error message.  That's where I get confused.

[2016-12-22 17:53] denjaland commented on #198
Right - you got me there.
I'm trying to reproduce the issue we still have on our site - will get back to you soon.

[2016-12-22 17:57] denjaland commented on #198
okay - you can just kill me.
I updated dependency on project X but tested on project Y.

Sorry about that.
We can close this one :-)

[2016-12-22 17:57] #198 closed

[2016-12-22 19:23] logaretm commented on #198
Its okay, happens to the best of us 😄

[2016-12-23 02:22] logaretm commented on #199
Probably because the watch executes after/before the validation occurs due to them being in different callbacks, instead you could try to move the validation to the watch callback, which will require some changes like here:

https://jsfiddle.net/7u0z4cse/1/

[2016-12-23 02:51] xjkms commented on #199
Yes, that's what I need right now.
You are doing a great job. Hope you can make it better and easier to use. Thank you.

[2016-12-23 02:51] #199 closed

[2016-12-23 05:47] mohitpanjwani commented on #196
I tried updating to 2.0.0-beta.18 but the `fieldBagName` config does not seem to be working at the moment.

Its still conflicting with other dependencies.

Mayb that's the reason its undocumented.

[2016-12-23 08:40] logaretm commented on #196
try `fieldsBagName` it was misspelled in a couple of places, it was not documented because it does not work nicely with Vue 1.x versions.

[2016-12-23 19:53] liu-yuhuan opened #200 "No such validator"
#### Versions:
- VueJs: 2.0
- Vee-Validate: 2.0.0-beta.18

### Description:

i got error message as below, when i use date_format or date_between or after and before.
am i doing wrong with date format ???

"[vee-validate]: No such validator 'date_between' exists."

### Steps To Reproduce:

[2016-12-23 20:55] logaretm commented on #200
Date validators requires moment to either be in the global scope, or you install them manually, that solves the dependency problem without increasing the plugin size.

[code]

[2016-12-24 03:55] liu-yuhuan commented on #200
thanks for reply ...
you save my day ~

[2016-12-24 03:55] #200 closed

[2016-12-24 05:34] mohitpanjwani commented on #196
@logaretm Works perfectly now! Thanks :)

[2016-12-24 06:52] logaretm commented on #196
Great, sorry about the confusion, I even misspelled it in the docs 😞

[2016-12-24 06:52] #196 closed

[2016-12-24 08:58] mubaidr opened #201 "[Query] How to get Vue-material and Vee-validate to play nice together?"
#### Versions:
- VueJs: 2.1.0
- Vee-Validate:2.0.0-beta.18

### Description:
Vue-material and Vee-validate does not work good together, error collection does not contain name of the input.

### Steps To Reproduce:
Use vee-validate on md-input tag.

For source code/Example please check this:
https://github.com/mubaidr/SPA-asp.net-api-vuejs-/blob/master/MBO/client/components/Account/Signup.vue

[2016-12-24 13:50] logaretm commented on #201
Not really sure, here is a small fiddle which have both working fine as far as I can tell:

https://jsfiddle.net/1ux1eh51/1/

[2016-12-24 17:02] mubaidr commented on #201
Sure, here is the updated jsfiddle:
https://jsfiddle.net/epzrvuc1/

I have included both normal `input` tags and `md-input` tags (provided by vue-material), please note the resulting `errors` object does not contain filedname for `md-input` but the native `input` type works fine.

[2016-12-24 18:17] spezzino commented on #201
The only difference I see is that in the working example, no md-input component is present. The regular input tag is included inside a **md-input-container**.
The **md-input** component must conform to this spec: http://vee-validate.logaretm.com/examples#component-example

[2016-12-24 20:18] mubaidr commented on #201
@spezzino Yes, the problem occurs only when `md-input` tag is used.
I don't understand what you mean by

[2016-12-24 23:47] spezzino commented on #201
I mean, In the component's source

`
<template>

  <input
    class="md-input"
    :type="type"
    :value="value"
    :disabled="disabled"
    :required="required"
    :placeholder="placeholder"
    :maxlength="maxlength"
    @focus="onFocus"
    @blur="onBlur"
    @input="onInput"
    @keydown.up="onInput"
    @keydown.down="onInput">
</template>
`

there is no `name` property
Source: [md-input]

[2016-12-25 00:11] spezzino commented on #201
Temporal solution:
add `data-vv-name` to your **md-input** component

Example: https://jsfiddle.net/epzrvuc1/2/

[2016-12-25 07:35] #120 closed

[2016-12-25 13:41] zzhero opened #203 "data-vv-delay is not work in custom compoment"
#### Versions:
- VueJs: 2.1.0
- Vee-Validate: 2.0.0-beta.18

### Description:

use demo '[Component Validation](http://vee-validate.logaretm.com/examples#component-example)':
only add data-vv-delay='1000',
delay can't be work;

but use data-vv-delay in native input like: `<input data-vv-delay='1000'>`. it's fine.

[code]

[2016-12-25 14:26] mubaidr commented on #201
@spezzino Awesome, thank you so much!

[2016-12-25 14:26] #201 closed

[2016-12-26 02:02] mhchen opened #205 "URL should be valid if blank"
#### Versions:
- VueJs: 2.1.0
- Vee-Validate: 2.0.0-beta.18

### Description:
If I have an <input> with data-vv-rules="url" and not "required", it should not fail. I can see in
https://github.com/logaretm/vee-validate/blob/master/src/rules/url.js#L4 that the validator simply defers to the npm validator library, and https://github.com/chriso/validator.js/blob/master/lib/isURL.js#L55 should fail val

[2016-12-26 13:59] malinosqui opened #207 "Locale not working"
#### Versions:
- VueJs: 2.1.5
- Vee-Validate: 2.0.0-beta.18
- Vue-Material: 0.5.1

### Description:
Locale not working, I'm  setting locale to pt_BR but do not work.

### Steps To Reproduce:

- Download pt_BR.js file on dist folder.
- Change dictionary to use my pt_BR message

My code: https://gist.github.com/malinosqui/a249d0e1d5de66e1ac9337ae617ee34b

[2016-12-26 17:39] badcom opened #209 "Clear errors after form submition"
#### Versions:
- VueJs: 2.1.7
- Vee-Validate: 2.0.0-beta.18

### Description:
Once I submit the form I clear the fields and I want to clear the errors as well, but I'm having a hard time trying to do that.

### Steps To Reproduce:
Form:

[code]
Persist data method:

[code]

I want to clear the errors in the AJAX callback. This code is in a .vue file and vee-validate is being imported in the main.j

[2016-12-26 19:33] logaretm commented on #209
have you tried:

``javascript
this.errors.clear();
[code]

[2016-12-26 23:30] badcom commented on #209
I did, but it doesn't work. It seems that "errors" doesn't have a clear() method when I call it. This is what I see if I print "this.errors":

![vue-validation](https://cloud.githubusercontent.com/assets/783736/21487549/1b25d572-cbaa-11e6-823e-e5c9bdcddc24.jpg)

Perhaps I'm missing something?

[2016-12-27 07:35] logaretm commented on #205
The blank/empty values are being excluded from validation if they are not required as you can see [here](https://github.com/logaretm/vee-validate/blob/master/src/validator.js#L528)

here is a fiddle:

https://jsfiddle.net/ptj3zk8f/

[2016-12-27 10:58] logaretm commented on #209
methods should appear in the `__proto__` property.

I'm not sure what could be wrong, but here is a fiddle that seems to be working fine:

https://jsfiddle.net/Lt33ep6e/1/

[2016-12-27 11:34] badcom commented on #209
Actually what I was missing is the v-validade directive. I was adding v-validate.initial="field" instead =/. I had misunderstood that part. Sorry about that and thanks for your time and great job on this plugin.

[2016-12-27 15:52] mhchen commented on #205
Interesting, thanks for replying and sorry for the trouble. Let me try to put together a simplified reproduction of the issue I'm seeing.

[2016-12-27 15:58] mhchen commented on #205
Got it, the problem was with fields.failed()

https://jsfiddle.net/sj09wrkx/

If you enter some nonsense text into the field, fields.failed() will turn true. If you delete it, it will remain true even though it should be false again.

[2016-12-28 04:08] seuaCoder commented on #174
My data are not flat, and name or data-vv-name didn't resolve this

[2016-12-28 05:07] seuaCoder commented on #171
I'm using the latest release and this is still an issue

[2016-12-28 07:00] logaretm commented on #209
Its okay, glad it worked.

[2016-12-28 07:00] #209 closed

[2016-12-28 07:03] logaretm commented on #205
Okay that can fixed.

Overall I guess I will need to revisit the flags, they are not quite as robust as I would like, do you have suggestions for flags behavior to consider in the next iterations?

[2016-12-28 07:06] logaretm commented on #171
Well that is weird, I tried the same fiddle again with beta.18 and it seems to be working fine on Chrome for Windows Version 55.0.2883.87 m (64-bit)

http://jsfiddle.net/xcha53ub/7/

[2016-12-28 07:08] logaretm commented on #174
@seuaCoder Can you provide a fiddle?

[2016-12-28 14:58] adamfairholm commented on #171
The beta 18 release fixed this issue for me.

[2016-12-29 08:46] joshbenhamou commented on #203
Can add your custom-input Vue?

[2016-12-29 09:12] #203 closed

[2016-12-29 09:13] logaretm commented on #203
@joshbenhamou If you mean custom components, then yes you can validate custom components that acts as an input.

[2016-12-29 09:21] #205 closed

[2016-12-29 09:36] logaretm commented on #207
Sorry it took long for me to respond.

The issue is that the locales are ES6 modules but you are using `require()` to import them, so the actual messages will be nested under `default` key. so your code will look like this:

[code]

using ES6 import will resolve this. you can try to log `msg` object while using both import types and compare the result.

[2016-12-29 13:13] ardani opened #211 "scope not work in multiple form in one component"
hi @logaretm
i use vue 2 latest. i using vee-validate for multiple form in component, but vee-validate on submit only work for last form, for first form it cant handle for validation on submit.

any solution for this problem? i already try `data-vv-scope` but still same

oh sorry, my bad, i use same name of element so it not work. solved now thanks

[2016-12-29 13:40] #211 closed

[2016-12-29 16:31] joshbenhamou commented on #203
@logaretm thanks, but I'm not the OP - thought I'd help debug. Think you've answered that though!

Thanks for the awesome work

[2016-12-30 06:25] logaretm commented on #203
oh sorry I misread your comment, thanks.

[2016-12-30 19:43] malinosqui commented on #207
Thanks!

[2016-12-31 16:01] howareyouo opened #212 "Call `validateAll ` method cause my choosen checkboxes unchecked !!"
#### Versions:
- VueJs: 2.1.0
- Vee-Validate: 2.0.0-beta.18

### Description:
Call `validateAll ` method cause my choosen checkboxes unchecked !!

### Steps To Reproduce:
1. choose some checkboxes within a form in *.vue file
2. on form submit callback, invode this.$validator.validateAll().then(...)

and the checked checkboxes are unchecked now, but i need post them to the server  !!

[2017-01-01 09:48] #207 closed

[2017-01-01 10:43] logaretm commented on #212
Well that is weird, I have tested it in a local test app, and in a fiddle over here, and it seems to be working fine. are you sure you are not binding the values of those check boxes to some values that might be reset after the submission?

here is my test fiddle: https://jsfiddle.net/rtcxd4s0/

if you can reproduce the issue in a fiddle I will have a better chance of identifying the issue.

[2017-01-03 07:56] xalexec opened #213 "regex has comma can't work"
#### Versions:
- VueJs: 2.1.8
- Vee-Validate:2.0.0-beta.18

### Description:
regex has comma can't work

https://jsfiddle.net/alexec/fmjb7uae/

[2017-01-03 11:16] beno-dlabs opened #214 "Errors as objects"
Not an actual bug but might help someone else.
When working with errors, the _collect()_ method allows a third argument (a Boolean value) for whether you want the actual error objects instead of error message strings.

`errors.collect('email',null,false)`

Mentioning it here as the documentation is missing this information.

[2017-01-03 12:51] MehrCurry commented on #213
+1

[2017-01-03 15:54] MehrCurry commented on #87
It seems that the error bag is updated after the watch function has been called. So inside the watches the error bag represents the previous state.

https://jsfiddle.net/t4hneg36/

[2017-01-03 16:49] logaretm commented on #213
You will need to use a workaround since the commas and the pipes are reserved for parsing the rules. take a look here #64

The pull request for a better syntax here #202 should help improve this use case.

[2017-01-03 16:50] logaretm commented on #214
it is intended for private use by the plugin, but I guess it needs to be documented anyways. thanks!

[2017-01-04 01:35] xalexec commented on #213
I know can use Custom Rules or use like https://github.com/logaretm/vee-validate/issues/64,but commas and the pipesare are useful in regex,use this to parse is not ok.

[2017-01-04 11:16] mohitpanjwani commented on #118
The solution you mentioned works if we validate the form on submit but for some reason Listeners are working.

[code]

[2017-01-04 12:01] Gallaecio commented on #165
[Vue warn]: You are setting a non-existent path "fields.<field name>" on a vm instance. Consider pre-initializing the property with the "data" option for more reliable reactivity and better performance.

Are these the Vue 1.0 issues you mention, @logaretm ?

The warning goes away if I define `fields: {}` in `data` in every component that uses `vee-validate`. Is there a better approach?

[2017-01-04 15:13] midnite81 opened #215 "[Vue warn]: Failed to resolve directive: el (found in anonymous component - use the "name" option for better debugging messages.)"
#### Versions:
- VueJs: 2.1.8
- Vee-Validate: 2.0.0-beta.18

### Description:
Keep getting warnings when using this package:

[code]

### Steps To Reproduce:
Add package
`import VeeValidate from 'vee-validate';`
`Vue.use(VeeValidate);`
Create input in a vue component which includes ` v-validate data-vv-rules="required"`
Check the console log

[2017-01-04 17:33] wdews opened #216 "Nested Custom Components, both with validation"
So I have a form which contains two custom components (address field groups). When submitting the form, I need to validate the address field groups to ensure that all the address information is valid. Here is an overview of that structure:

[code]

Then, for the validator for the `address` rule:

[code]

This schema works perfectly well, with one catch; __the validator is running__ `validateAll()`

[2017-01-04 17:42] wdews commented on #216
I've also tried setting up the validator like so, with identical results (validator attached to address component firing prematurely):

[code]

[2017-01-04 22:46] wdews commented on #216
Figured this one out; the address component I referenced in the above comments was set up with a watcher on mount, which had `immediate: true` specified. The watcher fired off `vm.$emit('input', val);` and was thus responsible for falsely triggering validation before it was necessary.

Thanks!

[2017-01-04 22:46] #216 closed

[2017-01-04 23:36] tillsanders opened #217 "validateAll causes infinite loop"
I validate some objects manually using `validateAll`. The result determines (via `v-if`) whether a small error icon is shown. In theory, this works great, but in practice theres a little catch:

[code]

I can't work out why this error occurs though, but I was able to reproduce it with minimal code: https://jsfiddle.net/tillsanders/hh3v0vdx/ Just run it and take a look at the console.

Until this i

[2017-01-05 06:03] yusupprog commented on #76
Hi.Have some problem.
Validator.fieldBag.fields.model.dirty and Validator.fieldBag.fields.model.clean aren't changing according to input.
Any suggestions?

[2017-01-05 10:34] logaretm commented on #217
`validateAll` was changed to always return a promise not a Boolean, which means it is not suited for return values in v-if.

The docs is built with bulma css which comes with few icons on inputs if errors were to be found, the basic errors helpers is all I needed, for example if you need to display the icon for a specific field, you can do this instead:

[code]

even if it wasn't causing a infinit

[2017-01-05 10:36] logaretm commented on #214
it is documented now.

[2017-01-05 10:36] #214 closed

[2017-01-05 10:41] logaretm commented on #76
@yusupprog I'm having issues making them reactive at the moment, you can use the methods approach.

[code]

[2017-01-05 10:55] midnite81 commented on #215
Ah thanks for your help. It was in something else. Apologies!

[2017-01-05 10:55] #215 closed

[2017-01-06 06:06] mohitpanjwani opened #218 "Custom Component Validation not triggering on input change."
#### Versions:
- VueJs: 2.1.6
- Vee-Validate: 2.0.0-beta.18

### Description:
[code]

The above custom component validation works on submit but it does not trigger on change.
Also Please note that this custom component does emit an `input` event on change.

<img width="525" alt="034953ef9f5e6490a895f14875a8d7f0" src="https://cloud.githubusercontent.com/assets/8002555/21709038/bcbc08be-d403-11e6-90

[2017-01-06 12:24] logaretm commented on #218
I will have to take a look at the actual component code, or you can try to replicate the relevant parts in a fiddle.

I created a small fiddle to test a similar component: https://jsfiddle.net/r0Le9g6v/

[2017-01-06 16:18] wdews opened #219 "Issue in VueRouter destroying VeeValidate Instance"
#### Versions:
- VueJs: 2.1.6
- VueRouter: 2.1.1
- Vee-Validate: 2.0.0-beta.18

### Description:
VueRouter, when swapping routes, throws an error when attempting to destroy the previous route's component when VeeValidate had:

1. Thrown a validation error on a field
2. User had corrected said error or multiple errors
3. Attempts to change the VueRouter route

The issue appears to be with the follo

[2017-01-06 16:45] wdews commented on #219
Added Pull Request #220. I may have build that wrong using just the `webpack` command, since I'm seeing many more deletions/additions than just that one change I made...

Let me know. This _appears_ to have fixed the issue. Thanks.

[2017-01-06 17:57] logaretm commented on #219
Its okay, these were some stuff that wasn't built before. I guess no harm in checking for that since it resolves a possible issue.

I would like to review where in a point of time this issue occurs, since I already built few projects including the docs using vue-router and didn't face this issue.

[2017-01-06 17:57] #219 closed

[2017-01-08 05:48] howareyouo commented on #212
Thank you for your reply so quickly !!
I update the fiddle, it is now reproduce my problem:
[https://jsfiddle.net/rtcxd4s0/2/](url)
that is:
I have some checkbox pre checked,
then checked or unchecked them
when submit the form, after `window.alert()`,  these checkboxes states acts like `reset()` by the validator, which seems weird to me 0.0!!